Repository rero/rero-ils-ui, pull requests merged in 2020-04, with the labels that each got.

#236 tests: fix random failures
  projects/admin/src/app/circulation/patron/main/main.component.spec.ts
  projects/admin/src/app/menu/menu.component.spec.ts
  projects/admin/src/app/menu/menu.component.ts
  projects/admin/src/app/record/custom-editor/document-editor/document-editor.component.spec.ts
  projects/admin/tests/utils.ts
Labels: release

#237 sercurity: update dependencies
  package-lock.json
  package.json
Labels: release

#217 document: display title in brief and detail views
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/item/item.component.ts
  projects/admin/src/app/circulation/main-request/main-request.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
  projects/admin/src/app/circulation/patron/main/main.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event-form/patron-transaction-event-form.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event/patron-transaction-event.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.ts
  projects/admin/src/app/circulation/patron/pickup/pickup-item/pickup-item.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup-item/pickup-item.component.ts
  projects/admin/src/app/circulation/patron/requested/requested-item/requested-item.component.html
  projects/admin/src/app/circulation/patron/requested/requested-item/requested-item.component.ts
  projects/admin/src/app/circulation/requested-items-list/requested-items-list.component.html
  projects/admin/src/app/circulation/requested-items-list/requested-items-list.component.ts
  projects/admin/src/app/menu/menu.component.ts
  projects/admin/src/app/record/brief-view/documents-brief-view/documents-brief-view.component.html
  projects/admin/src/app/record/detail-view/acquisition-order-detail-view/acquisition-order-detail-view.component.ts
  projects/admin/src/app/record/detail-view/acquisition-order-detail-view/order-lines/acquisition-order-lines.component.html
  projects/admin/src/app/record/detail-view/acquisition-order-detail-view/order-lines/acquisition-order-lines.component.ts
  projects/admin/src/app/record/detail-view/acquisition-order-line-detail-view/acquisition-order-line-detail-view.component.html
  projects/admin/src/app/record/detail-view/acquisition-order-line-detail-view/acquisition-order-line-detail-view.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.ts
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.ts
  projects/admin/src/app/record/detail-view/person-detail-view/person-detail-view.component.html
  projects/admin/src/app/record/detail-view/person-detail-view/person-detail-view.component.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/service/main-title.service.spec.ts
  projects/admin/src/app/service/main-title.service.ts
  projects/admin/src/app/translate/i18n/de.json
  projects/admin/src/app/translate/i18n/en.json
  projects/admin/src/app/translate/i18n/en_US.json
  projects/admin/src/app/translate/i18n/es.json
  projects/admin/src/app/translate/i18n/fr.json
  projects/admin/src/app/translate/i18n/it.json
  projects/public-search/src/app/document-brief/document-brief.component.html
  projects/public-search/src/app/search-bar/search-bar.component.ts
Labels: deployed on dev, release

#222 translation: fix some source string issues
  projects/admin/src/app/circulation/patron-transaction.service.ts
  projects/admin/src/app/circulation/patron/main/main.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event-form/patron-transaction-event-form.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event-form/patron-transaction-event-form.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup.component.html
  projects/admin/src/app/circulation/patron/requested/requested.component.html
  projects/admin/src/app/menu/menu.component.ts
  projects/admin/src/app/record/custom-editor/circulation-settings/circulation-policy/circulation-policy.component.html
  projects/admin/src/app/record/custom-editor/libraries/exception-dates-edit/exception-dates-edit.component.html
  projects/admin/src/app/record/custom-editor/libraries/library.component.html
  projects/admin/src/app/record/detail-view/acquisition-order-detail-view/order-lines/acquisition-order-lines.component.html
  projects/admin/src/app/record/detail-view/acquisition-order-line-detail-view/acquisition-order-line-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/item-request/item-request.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/item-request/item-request.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/resource/resource.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-transaction/item-transaction.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-transactions/item-transactions.component.html
  projects/admin/src/app/record/detail-view/library-detail-view/exception-date/exception-date.component.html
  projects/admin/src/app/record/detail-view/vendor-detail-view/vendor-detail-view.component.html
  projects/admin/src/app/service/record-permission-message.service.ts
  projects/admin/src/app/service/record-permission.service.ts
  projects/admin/src/app/translate/i18n/ar.json
  projects/admin/src/app/translate/i18n/de.json
  projects/admin/src/app/translate/i18n/en.json
  projects/admin/src/app/translate/i18n/en_US.json
  projects/admin/src/app/translate/i18n/es.json
  projects/admin/src/app/translate/i18n/fr.json
  projects/admin/src/app/translate/i18n/it.json
  projects/admin/src/app/translate/i18n/nl.json
  projects/admin/src/manual_translations.ts
Labels: release, translation

#208 document: filter results by org in admin view
  package-lock.json
  package.json
  projects/admin/src/app/frontpage/frontpage-board/frontpage-board.component.html
  projects/admin/src/app/menu/menu.component.html
  projects/admin/src/app/menu/menu.component.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/route-tool.service.ts
  projects/admin/src/app/service/menu.service.ts
  projects/public-search/src/app/service/routing-init.service.ts
Labels: release

#257 documentation: add dependencies in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation
