Repository rero/rero-ils-ui, pull requests merged in 2020-07, with the labels that each got.

#304 ui: better request badge into circulation module
  projects/admin/src/app/circulation/item/item.component.html
Labels: circulation

#314 project: downgrade ngx-spinner version
  package-lock.json
  package.json
  projects/admin/src/app/app.component.html
  projects/public-search/src/app/app.component.html
  projects/public-search/src/app/app.component.spec.ts
Labels: critical bug

#319 documentation: add badges to the README
  README.md
Labels: documentation
