Repository rero/rero-ils-ui, pull requests merged in 2020-12, with the labels that each got.

#446 general: fix several UI issues.
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/overdue-transaction/overdue-transaction.component.ts
  projects/admin/src/app/circulation/patron/pickup/pickup.component.ts
  projects/admin/src/app/menu/menu.component.spec.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/widgets/frontpage/frontpage.component.spec.ts
Labels: bug

#451 Translations update from Weblate
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en.json
Labels: translations

#439 request: implement basic ILL request management
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/class/ill-request.ts
  projects/admin/src/app/class/typeahead/ITypeahead-interface.ts
  projects/admin/src/app/class/typeahead/documents-typeahead.ts
  projects/admin/src/app/class/typeahead/items-typeahead.ts
  projects/admin/src/app/class/typeahead/mef-organisation-typeahead.ts
  projects/admin/src/app/class/typeahead/mef-person-typeahead.ts
  projects/admin/src/app/class/typeahead/mef-typeahead.ts
  projects/admin/src/app/class/typeahead/patrons-typeahead.ts
  projects/admin/src/app/menu/menu.component.ts
  projects/admin/src/app/record/brief-view/ill-requests-brief-view/ill-requests-brief-view.component.html
  projects/admin/src/app/record/brief-view/ill-requests-brief-view/ill-requests-brief-view.component.ts
  projects/admin/src/app/record/detail-view/ill-request-detail-view/ill-request-detail-view.component.html
  projects/admin/src/app/record/detail-view/ill-request-detail-view/ill-request-detail-view.component.ts
  projects/admin/src/app/routes/ill-requests-route.ts
  projects/admin/src/app/routes/route.service.ts
  projects/admin/src/app/scss/styles.scss
  projects/admin/src/app/service/ill-requests.service.spec.ts
  projects/admin/src/app/service/ill-requests.service.ts
  projects/admin/src/app/service/menu.service.ts
  projects/admin/src/app/service/patron.service.ts
  projects/admin/src/app/service/typeahead-factory.service.ts
  projects/admin/src/app/service/ui-remote-typeahead.service.spec.ts
  projects/admin/src/app/service/ui-remote-typeahead.service.ts
Labels: circulation, professional ui

#452 circulation: adds a counter on history tab
  projects/admin/src/app/circulation/patron/history/history.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
  projects/admin/src/app/circulation/patron/main/main.component.html
  projects/admin/src/app/circulation/patron/main/main.component.ts
  projects/admin/src/app/service/patron.service.ts
Labels: circulation, professional ui, user management

#454 item: display item notes
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-item-in-collection/holding-item-in-collection.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-item-in-collection/holding-item-in-collection.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-item-note/holding-item-note.component.spec.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-item-note/holding-item-note.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/serial-holding-item/serial-holding-item.component.html
Labels: professional ui

#442 menu: allow the librarian to switch library
  projects/admin/src/app/app.component.html
  projects/admin/src/app/app.component.ts
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/menu/menu-switch-library/menu-switch-library.component.html
  projects/admin/src/app/menu/menu-switch-library/menu-switch-library.component.spec.ts
  projects/admin/src/app/menu/menu-switch-library/menu-switch-library.component.ts
  projects/admin/src/app/menu/menu-switch-library/service/library-switch-menu.service.spec.ts
  projects/admin/src/app/menu/menu-switch-library/service/library-switch-menu.service.ts
  projects/admin/src/app/menu/menu-switch-library/service/library-switch.service.spec.ts
  projects/admin/src/app/menu/menu-switch-library/service/library-switch.service.ts
  projects/admin/src/app/menu/menu.component.html
  projects/admin/src/app/menu/menu.component.spec.ts
  projects/admin/src/app/menu/menu.component.ts
  projects/admin/src/app/record/custom-editor/circulation-settings/circulation-policy/circulation-policy.component.ts
  projects/admin/src/app/record/custom-editor/libraries/library.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holdings/holdings.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/item-request/item-request.component.ts
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.html
  projects/admin/src/app/routes/acquisition-accounts-route.ts
  projects/admin/src/app/routes/acquisition-order-lines-route.ts
  projects/admin/src/app/routes/acquisition-orders-route.ts
  projects/admin/src/app/routes/budgets-route.ts
  projects/admin/src/app/routes/collections-route.ts
  projects/admin/src/app/routes/holdings-route.ts
  projects/admin/src/app/routes/item-types-route.ts
  projects/admin/src/app/routes/items-route.ts
  projects/admin/src/app/routes/libraries-route.ts
  projects/admin/src/app/routes/patron-types-route.ts
  projects/admin/src/app/routes/patrons-route.ts
  projects/admin/src/app/routes/templates-route.ts
  projects/admin/src/app/routes/vendors-route.ts
  projects/admin/src/app/service/app-config.service.ts
  projects/admin/src/app/service/app-init.service.ts
  projects/admin/src/app/service/library-switch.service.spec.ts
  projects/admin/src/app/service/library-switch.service.ts
  projects/admin/src/app/service/library.service.ts
  projects/admin/src/app/service/menu.service.ts
  projects/admin/src/app/service/navigate.service.ts
  projects/admin/src/app/service/organisation.service.ts
  projects/admin/src/app/service/patron.service.ts
  projects/admin/src/environments/environment.prod.ts
  projects/admin/src/environments/environment.ts
  projects/shared/src/lib/class/user.ts
  projects/shared/src/lib/service/user.service.ts
Labels: professional ui, user management

#457 Widget: fix dashboard widget
  projects/admin/src/app/widgets/frontpage/frontpage-board/frontpage-board.component.html
Labels: professional ui

#460 document: fix duplicate harvested document
  projects/admin/src/app/record/custom-editor/document-editor/document-editor.component.ts
Labels: data

#440 circulation policy: improve editor
  .gitignore
  projects/admin/src/app/record/custom-editor/circulation-settings/circulation-policy-form.service.ts
  projects/admin/src/app/record/custom-editor/circulation-settings/circulation-policy.ts
  projects/admin/src/app/record/custom-editor/circulation-settings/circulation-policy/circulation-policy.component.html
  projects/admin/src/app/record/custom-editor/circulation-settings/circulation-policy/circulation-policy.component.scss
  projects/admin/src/app/record/custom-editor/circulation-settings/circulation-policy/circulation-policy.component.ts
  projects/admin/src/app/record/detail-view/circ-policy-detail-view/circ-policy-detail-view.component.html
Labels: circulation, editor, professional ui

#447 users: display keep_history for patron
  projects/admin/src/app/circulation/patron/main/main.component.html
  projects/admin/src/app/circulation/patron/profile/profile.component.html
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.html
  projects/shared/src/lib/class/user.ts
Labels: circulation, professional ui, user management

#461 document: improve document detail view
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.scss
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.ts
  projects/admin/src/app/scss/styles.scss
Labels: professional ui

#471 search: fix ILL request search results errors
  projects/admin/src/app/routes/ill-requests-route.ts
Labels: circulation, search

#465 item: sort notifications by chronological order
  projects/admin/src/app/circulation/item/item.component.ts
Labels: circulation, professional ui, user management

#472 holdings: fix holding detail page display
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/serial-holding-detail-view.component.html
  projects/admin/src/app/record/detail-view/local-field/local-field.component.html
Labels: professional ui

#453 documents: group holdings by libraries
  projects/admin/src/app/record/detail-view/document-detail-view/holdings/holdings.component.ts
Labels: enhancement, professional ui

#469 tests: fix templates for cypress tests
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-transactions/item-transactions.component.html
Labels: tests
