Repository rero/rero-ils-ui, pull requests merged in 2020-05, with the labels that each got.

#265 search: add simple params for the backend calls
  projects/admin/src/app/interceptor/no-cache-header.interceptor.ts
  projects/admin/src/app/menu/menu.component.ts
  projects/admin/src/app/record/editor/ref/ref.component.ts
  projects/admin/src/app/routes/acquisition-accounts-route.ts
  projects/admin/src/app/routes/acquisition-orders-route.ts
  projects/admin/src/app/routes/budgets-route.ts
  projects/admin/src/app/routes/circulation-policies-route.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/item-types-route.ts
  projects/admin/src/app/routes/libraries-route.ts
  projects/admin/src/app/routes/patron-types-route.ts
  projects/admin/src/app/routes/patrons-route.ts
  projects/admin/src/app/routes/persons-route.ts
  projects/admin/src/app/routes/vendors-route.ts
  projects/public-search/src/app/search-bar/search-bar.component.ts
  projects/public-search/src/app/service/routing-init.service.ts
Labels: deployed on dev

#261 document: adapt detail view
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holdings/holdings.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/related-resource/related-resource.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/resource/resource.component.html
  projects/admin/src/app/scss/styles.scss
  projects/admin/src/app/translate/i18n/en_US.json
  projects/public-search/src/app/document-brief/document-brief.component.scss
Labels: dev deployment request

#270 documentation: improve issue template
  .github/ISSUE_TEMPLATE.md
Labels: documentation

#176 libraries: adapt library custom editor
  projects/admin/src/app/record/custom-editor/libraries/exception-dates-edit/exception-dates-edit.component.html
  projects/admin/src/app/record/custom-editor/libraries/exception-dates-list/exception-dates-list.component.html
  projects/admin/src/app/record/custom-editor/libraries/library-form.service.ts
  projects/admin/src/app/record/custom-editor/libraries/library.component.html
  projects/admin/src/app/record/custom-editor/libraries/library.component.ts
Labels: enhancement, minor
