Repository rero/rero-ils-ui, pull requests merged in 2020-09, with the labels that each got.

#342 circulation: allow request for organisation items
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.ts
Labels: circulation

#354 search: fix contribution facet
  projects/admin/src/app/routes/documents-route.ts
  projects/public-search/src/app/service/routing-init.service.ts
Labels: correction

#352 search: fix contribution link
  projects/public-search/src/app/document-brief/document-brief.component.html
  projects/public-search/src/app/document-brief/document-brief.component.ts
Labels: public ui

#361 request: fix cancel request
  projects/admin/src/app/record/detail-view/item-detail-view/item-transaction/item-transaction.component.ts
Labels: circulation

#363 document: improve translated aggregations
  projects/admin/src/app/routes/documents-route.ts
  projects/public-search/src/app/manual_translations.ts
  projects/public-search/src/app/service/routing-init.service.ts
Labels: search

#364 release: v0.5.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

#370 translations: fix show more item link
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.ts
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/serial-holding-detail-view.component.ts
Labels: professional ui, translation

#367 document: allow record duplication
  projects/admin/src/app/record/custom-editor/document-editor/document-editor.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.scss
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/service/editor.service.spec.ts
  projects/admin/src/app/service/editor.service.ts
Labels: data, professional ui
