Repository rero/rero-ils-ui, pull requests merged in 2020-08, with the labels that each got.

#327 ui: add more `id=` attributes for patron and logo
  projects/admin/src/app/app.component.html
  projects/admin/src/app/circulation/patron/main/main.component.html
  projects/admin/src/app/menu/menu.component.html
Labels: enhancement

#337 circulation: replace pickup location name by library name
  projects/admin/src/app/circulation/item/item.component.html
Labels: circulation

#338 request: fix update of request pickup location
  projects/admin/src/app/record/detail-view/item-detail-view/item-transaction/item-transaction.component.ts
  projects/admin/src/app/service/loan.service.ts
Labels: circulation

#340 circulation: fixes the display of the due date
  projects/admin/src/app/service/items.service.ts
  projects/admin/src/app/service/loan.service.ts
Labels: circulation

#343 circulation: update request permissions
  projects/admin/src/app/record/detail-view/item-detail-view/item-transaction/item-transaction.component.ts
Labels: circulation

#331 item: update UI to manage 'new_acquisition' field
  projects/admin/src/app/class/items.ts
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/admin/src/app/routes/holdings-route.ts
  projects/admin/src/app/routes/items-route.ts
Labels: acquisition, search

#339 circulation : toastr message when item goes in transit
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
  projects/admin/src/app/class/items.ts
Labels: circulation

#345 circulation: fix patron info in loan view
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
Labels: circulation, professional ui
