Repository rero/rero-ils-ui, pull requests merged in 2020-11, with the labels that each got.

#403 Translations update from Weblate
  projects/admin/src/assets/rero-ils-ui/admin/i18n/es.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/nl.json
Labels: translation

#397 request: allow cancellation when item is at desk
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.ts
  projects/admin/src/app/record/detail-view/item-detail-view/item-transaction/item-transaction.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-transaction/item-transaction.component.ts
  projects/admin/src/app/record/detail-view/item-detail-view/item-transactions/item-transactions.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-transactions/item-transactions.component.ts
Labels: circulation

#419 circulation: improve displayed patron data
  projects/admin/src/app/circulation/checkin/checkin.component.html
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/patron/card/card.component.html
  projects/admin/src/app/circulation/patron/card/card.component.scss
  projects/admin/src/app/circulation/patron/card/card.component.ts
Labels: circulation

#423 circulation: display authors for item in circulation.
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/item/item.component.ts
  projects/admin/src/app/circulation/patron/pending/pending-item/pending-item.component.html
  projects/admin/src/app/circulation/patron/pending/pending-item/pending-item.component.ts
  projects/admin/src/app/circulation/patron/pending/pending.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup-item/pickup-item.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup-item/pickup-item.component.ts
Labels: circulation

#426 requests: improves the main request screen.
  projects/admin/src/app/circulation/circulation.module.ts
  projects/admin/src/app/circulation/main-request/main-request.component.html
  projects/admin/src/app/circulation/main-request/main-request.component.ts
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.html
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.scss
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.spec.ts
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.ts
  projects/admin/src/app/circulation/main-request/requested-items-list/requested-items-list.component.html
  projects/admin/src/app/circulation/main-request/requested-items-list/requested-items-list.component.spec.ts
  projects/admin/src/app/circulation/main-request/requested-items-list/requested-items-list.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.html
  projects/admin/src/app/circulation/requested-items-list/requested-items-list.component.html
  projects/admin/src/app/class/items.ts
  projects/admin/src/app/scss/styles.scss
Labels: professional ui

#411 patron: allows librarians to update user password
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/circulation.module.ts
  projects/admin/src/app/circulation/patron/change-password-form/change-password-form.component.html
  projects/admin/src/app/circulation/patron/change-password-form/change-password-form.component.spec.ts
  projects/admin/src/app/circulation/patron/change-password-form/change-password-form.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event-form/patron-transaction-event-form.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
  projects/admin/src/app/circulation/patron/profile/profile.component.html
  projects/admin/src/app/circulation/patron/profile/profile.component.ts
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.html
  projects/admin/src/app/routes/patrons-route.ts
  projects/admin/src/app/service/user.service.ts
Labels: user management

#425 serials: new service to display late/claimed issues
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/class/items.ts
  projects/admin/src/app/record/brief-view/issues-brief-view/issues-brief-view.component.html
  projects/admin/src/app/record/brief-view/issues-brief-view/issues-brief-view.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.ts
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/serial-holding-detail-view.component.html
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/serial-holding-detail-view.component.ts
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.ts
  projects/admin/src/app/routes/issues-route.ts
  projects/admin/src/app/routes/items-route.ts
  projects/admin/src/app/routes/route.service.ts
  projects/admin/src/app/service/holdings.service.ts
  projects/admin/src/app/service/menu.service.ts
Labels: acquisition, serials

#424 ui: fix translation issues
  projects/admin/src/app/circulation/patron-transaction.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event/patron-transaction-event.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event/patron-transaction-event.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.ts
  projects/admin/src/app/class/documents-typeahead.ts
Labels: translations

#435 ui: adapt templates for cypress tests
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.html
Labels: tests

#428 git: update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#443 editor: fix patron editor
  projects/admin/src/app/routes/patrons-route.ts
Labels: bug, editor, user management

#427 circulation: improve labels
  projects/admin/src/app/circulation/checkin/checkin.component.html
  projects/admin/src/app/circulation/patron/loan/loan.component.html
  projects/admin/src/app/circulation/patron/main/main.component.html
  projects/admin/src/app/service/menu.service.ts
Labels: circulation, wording

#444 items: make acquisition default date optional
  projects/admin/src/app/class/items.ts
  projects/admin/src/app/routes/items-route.ts
Labels: acquisition, serials
