Repository rero/rero-ils-ui, pull requests merged in 2021-06, with the labels that each got.

#599 libraries: improve display of notification settings
  projects/admin/src/app/record/detail-view/library-detail-view/library-detail-view.component.html
Labels: notifications, professional ui

#591 documents: update field display
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
Labels: data, professional ui

#621 projects: update dependencies
  package-lock.json
  package.json
  projects/admin/src/app/service/ui-remote-typeahead.service.ts
Labels: professional ui

#622 patron types: add a code field on the detail view
  projects/admin/src/app/record/detail-view/patron-types-detail-view/patron-types-detail-view.component.html
Labels: professional ui

#570 documents: improve online access information
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/related-resource/related-resource.component.html
Labels: data, professional ui

#620 circulation: display circulation messages
  projects/admin/src/app/circulation/patron/card/card.component.html
  projects/admin/src/app/circulation/patron/card/card.component.ts
  projects/admin/src/app/circulation/patron/main/main.component.html
Labels: bug, circulation, professional ui, user management

#606 libraries: implement three new types of notification
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/classes/library.ts
  projects/admin/src/app/classes/notification.ts
  projects/admin/src/app/record/custom-editor/libraries/library-form.service.ts
  projects/admin/src/app/record/custom-editor/libraries/library.component.html
  projects/admin/src/app/record/custom-editor/libraries/library.component.ts
  projects/admin/src/app/record/custom-editor/libraries/pipe/notificationType.pipe.spec.ts
  projects/admin/src/app/record/custom-editor/libraries/pipe/notificationType.pipe.ts
  projects/admin/src/app/record/detail-view/library-detail-view/library-detail-view.component.html
Labels: editor, notifications, professional ui

#628 instance: change base URL
  projects/admin/src/app/circulation/patron/patron-transactions/overdue-transaction/overdue-transaction.component.spec.ts
  projects/admin/src/app/pipe/subject-process.pipe.spec.ts
  projects/admin/src/environments/environment.prod.ts
  projects/admin/src/environments/environment.ts
  projects/public-holdings-items/src/environments/environment.prod.ts
  projects/public-holdings-items/src/environments/environment.ts
  projects/public-patron-profile/src/environments/environment.prod.ts
  projects/public-patron-profile/src/environments/environment.ts
  projects/public-search/src/environments/environment.prod.ts
  projects/public-search/src/environments/environment.ts
  projects/shared/src/tests/user.ts
Labels: circulation, professional ui, user management

#629 translations: translate v1.3.0
  projects/admin/src/assets/rero-ils-ui/admin/i18n/ar.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/de.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en_US.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/es.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/fr.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/it.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/nl.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/de.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/es.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/fr.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/it.json
Labels: translations

#625 documents: filters holdings by items
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/serial-holding-item/serial-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holdings/holdings.component.ts
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/serial-holding-detail-view.component.ts
  projects/admin/src/app/routes/holdings-route.ts
  projects/admin/src/app/routes/items-route.ts
  projects/admin/src/app/routes/route-tool.service.ts
  projects/admin/src/app/service/record-permission.service.ts
  projects/public-search/src/app/api/holdings-api.service.ts
Labels: professional ui, public ui

#630 libraries: fix translation on notification settings
  projects/admin/src/app/record/detail-view/library-detail-view/library-detail-view.component.html
Labels: professional ui

#631 documents: fix detailed view
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/public-search/src/app/document-brief/document-brief.component.html
  projects/shared/src/lib/view/brief/part-of/part-of.component.html
  projects/shared/src/lib/view/brief/part-of/part-of.component.ts
Labels: professional ui, public ui, search

#632 documents: enable the search bar on the detail view
  projects/admin/src/app/menu/menu.component.ts
Labels: professional ui

#633 organisations: fix translation of labels
  projects/admin/src/app/record/detail-view/organisation-detail-view/organisation-detail-view.component.html
Labels: professional ui

#636 ui: fix hide or show searchbar on pro interface
  projects/admin/src/app/menu/menu.component.ts
Labels: professional ui

#634 ui: fix language setting on the public interface
  projects/public-holdings-items/src/app/app-initializer.service.ts
  projects/public-search/src/app/app-initializer.service.spec.ts
  projects/public-search/src/app/app-initializer.service.ts
  projects/public-search/src/app/app.component.ts
  projects/public-search/src/app/document-brief/document-brief.component.html
  projects/shared/src/lib/view/thumbnail/thumbnail.component.html
Labels: public ui, search

#635 serials: inform when there's no item attached to the holdings
  projects/public-search/src/app/document-detail/holdings/items/items.component.html
  projects/public-search/src/app/document-detail/holdings/items/items.component.spec.ts
Labels: public ui

#644 documentation: extend gh-actions labeler rules
  .github/labeler.yml
Labels: documentation

#646 documentation: remove duplicate label rule
  .github/labeler.yml
Labels: documentation

#645 documents: improve display of uniform resource locator
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/related-resource/related-resource.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/resource/resource.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/resource/resource.component.spec.ts
  projects/admin/src/app/record/detail-view/document-detail-view/resource/resource.component.ts
Labels: enhancement, professional ui

#643 editor: fix circulation policy setting widget
  projects/admin/src/app/record/formly/type/cipo-patron-type-item-type/cipo-patron-type-item-type.component.ts
  projects/admin/src/app/record/formly/type/cipo-patron-type-item-type/class/settings.ts
Labels: editor, professional ui

#651 global: fix HTML copyright
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/items-list/items-list.component.html
  projects/admin/src/app/circulation/main-request/requested-items-list/requested-items-list.component.html
  projects/admin/src/app/circulation/patron/loan/fixed-date-form/fixed-date-form.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event-form/patron-transaction-event-form.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
  projects/admin/src/app/circulation/patron/pending/pending-item/pending-item.component.html
  projects/admin/src/app/circulation/patron/profile/profile.component.html
  projects/admin/src/app/menu/menu-dashboard/menu-dashboard.component.html
  projects/admin/src/app/menu/menu-language/menu-language.component.html
  projects/admin/src/app/menu/menu-mobile/menu-mobile.component.html
  projects/admin/src/app/menu/menu-mobile/sub-menu/sub-menu.component.html
  projects/admin/src/app/menu/menu-switch-library/menu-switch-library.component.html
  projects/admin/src/app/menu/menu-user-services/menu-user-services.component.html
  projects/admin/src/app/menu/menu-user/menu-user.component.html
  projects/admin/src/app/menu/menu.component.html
  projects/admin/src/app/record/brief-view/documents-brief-view/documents-brief-view.component.html
  projects/admin/src/app/record/brief-view/ill-requests-brief-view/ill-requests-brief-view.component.html
  projects/admin/src/app/record/brief-view/issues-brief-view/issues-brief-view.component.html
  projects/admin/src/app/record/brief-view/items-brief-view/items-brief-view.component.html
  projects/admin/src/app/record/custom-editor/document-editor/document-editor.component.html
  projects/admin/src/app/record/custom-editor/libraries/exception-dates-list/exception-dates-list.component.html
  projects/admin/src/app/record/detail-view/acquisition-order-detail-view/acquisition-order-detail-view.component.html
  projects/admin/src/app/record/detail-view/address-type/address-type.component.html
  projects/admin/src/app/record/detail-view/budget-detail-view/acquisition-account/acquisition-account.component.html
  projects/admin/src/app/record/detail-view/budget-detail-view/acquisition-accounts/acquisition-accounts.component.html
  projects/admin/src/app/record/detail-view/budget-detail-view/budget-detail-view.component.html
  projects/admin/src/app/record/detail-view/circ-policy-detail-view/circ-policy-detail-view.component.html
  projects/admin/src/app/record/detail-view/collection-detail-view/collection-detail-view.component.html
  projects/admin/src/app/record/detail-view/collection-detail-view/collection-items/collection-items.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-type-detail-view/item-type-detail-view.component.html
  projects/admin/src/app/record/detail-view/library-detail-view/day-opening-hours/day-opening-hours.component.html
  projects/admin/src/app/record/detail-view/library-detail-view/library-detail-view.component.html
  projects/admin/src/app/record/detail-view/library-detail-view/location/location.component.html
  projects/admin/src/app/record/detail-view/location-detail-view/location-detail-view.component.html
  projects/admin/src/app/record/detail-view/organisation-detail-view/budget-select-line/budget-select-line.component.html
  projects/admin/src/app/record/detail-view/organisation-detail-view/budget-select/budget-select.component.html
  projects/admin/src/app/record/detail-view/organisation-detail-view/organisation-detail-view.component.html
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.html
  projects/admin/src/app/record/detail-view/patron-types-detail-view/patron-types-detail-view.component.html
  projects/admin/src/app/record/document-record-search/document-record-search.component.html
  projects/admin/src/app/record/item-availability/item-availability.component.html
  projects/admin/src/app/widgets/custom-shortcut-help/custom-shortcut-help.component.html
  projects/admin/src/app/widgets/frontpage/frontpage.component.html
  projects/public-holdings-items/src/index.html
  projects/public-patron-profile/src/index.html
  projects/public-search/src/app/app.component.html
  projects/public-search/src/app/document-brief/document-brief.component.html
  projects/public-search/src/app/document-record-search/document-record-search.component.html
  projects/public-search/src/app/search-bar/search-bar.component.html
  projects/public-search/src/index.html
  projects/shared/src/lib/view/brief/contribution-brief/contribution-brief.component.html
  projects/shared/src/lib/view/brief/contribution-sources/contribution-sources.component.html
  projects/shared/src/lib/view/brief/organisation-brief/organisation-brief.component.html
  projects/shared/src/lib/view/brief/person-brief/person-brief.component.html
  projects/shared/src/lib/view/thumbnail/thumbnail.component.html
Labels: circulation, editor, professional ui, public ui, search, user management

#650 ILL requests: fix public view
  projects/public-search/src/app/api/ill-request-api.service.ts
  projects/public-search/src/app/patron-profile/patron-profile-ill-requests/patron-profile-ill-request/patron-profile-ill-request.component.html
  projects/public-search/src/app/patron-profile/patron-profile-ill-requests/patron-profile-ill-request/patron-profile-ill-request.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-ill-requests/patron-profile-ill-requests.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-ill-requests/patron-profile-ill-requests.component.ts
  projects/public-search/src/app/patron-profile/patron-profile.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile.component.ts
Labels: circulation, public ui, user management

#647 circulation: display position into request queue
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.html
  projects/admin/src/app/circulation/patron/pending/pending-item/pending-item.component.html
  projects/admin/src/app/circulation/patron/pending/pending-item/pending-item.component.ts
  projects/admin/src/app/circulation/patron/pickup/pickup-item/pickup-item.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup-item/pickup-item.component.ts
  projects/admin/src/app/service/patron.service.ts
  projects/public-search/src/app/patron-profile/patron-profile.component.spec.ts
Labels: circulation, professional ui, public ui, user management
