Repository rero/rero-ils-ui, pull requests merged in 2021-05, with the labels that each got.

#571 documents: fix items buttons position
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-item-in-collection/holding-item-in-collection.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-item-note/holding-item-note.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-item-temporary-item-type/holding-item-temporary-item-type.component.ts
Labels: UX, bug, professional ui

#586 translations: translate v0.14.0
  projects/admin/src/assets/rero-ils-ui/admin/i18n/ar.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/de.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en_US.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/eo.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/es.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/fr.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/it.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/nl.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/ar.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/de.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/en.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/en_US.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/eo.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/es.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/fr.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/it.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/nl.json
Labels: translations

#579 documents: update subject display
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/pipe/subject-process.pipe.spec.ts
  projects/admin/src/app/pipe/subject-process.pipe.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
Labels: data, professional ui, public ui

#588 pipe: translate value of getTranslatedLabel
  projects/shared/src/lib/pipe/get-translated-label.pipe.spec.ts
  projects/shared/src/lib/pipe/get-translated-label.pipe.ts
Labels: bug, translations

#593 circulation: restore the patron history tab
  projects/admin/src/app/circulation/patron/main/main.component.html
Labels: bug, user management

#592 documents: fix translations on holdings/items
  projects/public-holdings-items/src/app/app-initializer.service.ts
  projects/public-search/src/app/document-detail/request/request.component.ts
Labels: bug, translations

#577 translations: correct some static strings
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
  projects/admin/src/app/record/detail-view/item-detail-view/item-transactions/item-transactions.component.ts
  projects/admin/src/app/service/items.service.ts
  projects/admin/src/manual_translations.ts
Labels: translations

#582 Item: fix last item deletion problem
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.ts
Labels: bug, professional ui

#583 translations: fix string extraction problem
  projects/admin/src/app/circulation/classes/patron-transaction.ts
  projects/admin/src/app/circulation/services/patron-transaction.service.ts
  projects/admin/src/app/classes/ill-request.ts
  projects/admin/src/app/classes/items.ts
  projects/admin/src/app/classes/library.ts
  projects/admin/src/app/classes/loans.ts
  projects/admin/src/manual_translations.ts
Labels: translations

#572 documents: display identifiers detail if it exists
  projects/admin/src/app/record/brief-view/patrons-brief-view.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-transactions/item-transactions.component.html
  projects/admin/src/manual_translations.ts
Labels: bug, professional ui, public ui, translations

#601 circulation: add data into pending/pickup patron profile
  projects/admin/src/app/circulation/patron/pending/pending-item/pending-item.component.html
  projects/admin/src/app/circulation/patron/pending/pending-item/pending-item.component.ts
  projects/admin/src/app/circulation/patron/pending/pending.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup-item/pickup-item.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup.component.html
Labels: circulation, enhancement

#598 issue: fix issue display problems
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.ts
Labels: professional ui, serials

#569 search: implement advanced search
  angular.json
  package-lock.json
  package.json
  projects/admin/karma.conf.js
  projects/admin/src/app/menu/menu-dashboard/menu-dashboard.component.spec.ts
  projects/admin/src/app/menu/menu-language/menu-language.component.spec.ts
  projects/admin/src/app/menu/menu-user-services/menu-user-services.component.spec.ts
  projects/admin/src/app/menu/menu.component.html
  projects/admin/src/app/menu/menu.component.ts
  projects/admin/src/app/record/document-record-search/document-record-search.component.ts
  projects/admin/src/app/routes/acquisition-orders-route.ts
  projects/admin/src/app/routes/base-route.ts
  projects/admin/src/app/routes/budgets-route.ts
  projects/admin/src/app/routes/circulation-policies-route.ts
  projects/admin/src/app/routes/collections-route.ts
  projects/admin/src/app/routes/corporate-bodies-route.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/ill-requests-route.ts
  projects/admin/src/app/routes/issues-route.ts
  projects/admin/src/app/routes/item-types-route.ts
  projects/admin/src/app/routes/items-route.ts
  projects/admin/src/app/routes/libraries-route.ts
  projects/admin/src/app/routes/patron-types-route.ts
  projects/admin/src/app/routes/patrons-route.ts
  projects/admin/src/app/routes/persons-route.ts
  projects/admin/src/app/routes/templates-route.ts
  projects/admin/src/app/routes/vendors-route.ts
  projects/admin/src/app/widgets/frontpage/frontpage.component.spec.ts
  projects/public-search/karma.conf.js
  projects/public-search/src/app/app.component.spec.ts
  projects/public-search/src/app/document-detail/holdings/holdings.component.spec.ts
  projects/public-search/src/app/document-record-search/document-record-search.component.ts
  projects/public-search/src/app/patron-profile/patron-profile.component.spec.ts
  projects/shared/src/lib/service/user.service.ts
Labels: professional ui, search

#602 Issue: update links on late issue brief view
  projects/admin/src/app/record/brief-view/issues-brief-view/issues-brief-view.component.html
  projects/admin/src/app/record/brief-view/issues-brief-view/issues-brief-view.component.ts
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.ts
  projects/admin/src/app/scss/styles.scss
Labels: enhancement, serials

#610 documentation: create gh-actions labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: documentation

#576 reports: improve inventory list for items
  projects/admin/src/app/routes/issues-route.ts
  projects/admin/src/app/routes/items-route.ts
Labels: data-export
