Repository rero/rero-ils-ui, pull requests merged in 2021-02, with the labels that each got.

#513 documents: fix items/holdings creation for harvested document
  projects/admin/src/app/record/detail-view/document-detail-view/holdings/holdings.component.ts
Labels: correction, professional ui

#503 editor: add an external link to the mef authority
  package-lock.json
  package.json
  projects/admin/src/app/class/typeahead/mef-typeahead.ts
  projects/admin/src/app/record/custom-editor/document-editor/document-editor.component.html
  projects/admin/src/app/service/app-config.service.ts
  proxy.conf.json
Labels: UX, dependencies, editor

#508 menu: translate menu entries
  projects/admin/src/app/routes/acquisition-accounts-route.ts
  projects/admin/src/app/routes/acquisition-order-lines-route.ts
  projects/admin/src/app/routes/acquisition-orders-route.ts
  projects/admin/src/app/routes/budgets-route.ts
  projects/admin/src/app/routes/circulation-policies-route.ts
  projects/admin/src/app/routes/item-types-route.ts
  projects/admin/src/app/routes/locations-route.ts
  projects/admin/src/app/routes/organisations-route.ts
  projects/admin/src/app/routes/patron-types-route.ts
  projects/admin/src/app/routes/patrons-route.ts
  projects/admin/src/app/routes/persons-route.ts
  projects/admin/src/app/routes/templates-route.ts
  projects/admin/src/app/routes/vendors-route.ts
  projects/admin/src/manual_translations.ts
Labels: professional ui, translations

#520 public-search: hide not received issues for public
  projects/public-search/src/app/api/item-api.service.spec.ts
  projects/public-search/src/app/api/item-api.service.ts
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.html
  projects/public-search/src/app/document-detail/holdings/items/items.component.html
  projects/public-search/src/app/document-detail/holdings/items/items.component.spec.ts
  projects/public-search/src/app/document-detail/holdings/items/items.component.ts
Labels: public ui

#524 tests: fix cypress tests
  projects/public-search/src/app/document-detail/request/pickup-location/pickup-location.component.html
  projects/public-search/src/app/document-detail/request/request.component.html
Labels: tests

#506 documents: display 'part of' in brief views
  projects/admin/src/app/record/brief-view/documents-brief-view/documents-brief-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/public-search/src/app/document-brief/document-brief.component.html
  projects/shared/src/lib/shared.module.ts
  projects/shared/src/lib/view/brief/part-of/part-of.component.html
  projects/shared/src/lib/view/brief/part-of/part-of.component.spec.ts
  projects/shared/src/lib/view/brief/part-of/part-of.component.ts
  projects/shared/src/public-api.ts
Labels: professional ui, public ui

#531 Translations update from Weblate
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en.json
Labels: translations
