Repository rero/rero-ils-ui, pull requests merged in 2021-01, with the labels that each got.

#483 menu: fix menu double entries
  projects/admin/src/app/menu/service/menu-user-services.service.ts
Labels: bug, professional ui

#487 Translations update from Weblate
  projects/admin/src/assets/rero-ils-ui/admin/i18n/es.json
Labels: translations

#479 search: fix author facet of BnF import search view
  projects/admin/src/app/routes/import-documents-route.ts
Labels: import records, search

#486 deploy: fix error message with invenio 3.4
  projects/public-search/src/app/app.module.ts
  projects/public-search/src/main.ts
  projects/search-bar/src/app/app.module.ts
Labels: developers, search

#492 dependencies: update and fix vulnerabilities
  package-lock.json
  package.json
Labels: dependencies

#485 search: fix encoding parameters problem
  projects/public-search/src/app/app.module.ts
  projects/public-search/src/app/interceptor/custom-request.interceptor.ts
Labels: search

#494 items: add temporary circulation category
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-item-temporary-item-type/holding-item-temporary-item-type.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/serial-holding-item/serial-holding-item.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.ts
  projects/admin/src/app/routes/items-route.ts
Labels: circulation, data

#495 gh-actions: mark PR and issue stale
  .github/workflows/stale.yml
Labels: documentation

#463 general: use ngVarDirective from @rero/ng-core
  projects/shared/src/lib/directive/ng-var.directive.ts
  projects/shared/src/lib/shared.module.ts
  projects/shared/src/lib/view/brief/contribution-brief/contribution-brief.component.spec.ts
  projects/shared/src/lib/view/brief/organisation-brief/organisation-brief.component.spec.ts
  projects/shared/src/lib/view/brief/person-brief/person-brief.component.spec.ts
  projects/shared/src/public-api.ts
Labels: developers

#481 search: adapt the suggestions to the locale
  projects/public-search/src/app/search-bar/search-bar.component.ts
  projects/public-search/src/index.html
Labels: professional ui, search

#500 circulation: display item info when no circ action is performed
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/item/item.component.ts
Labels: circulation, professional ui
