Repository rero/rero-ils-ui, pull requests merged in 2021-08, with the labels that each got.

#684 local fields: improve query result
  projects/admin/src/app/api/local-field-api.service.ts
Labels: professional ui

#667 search: fix document brief view
  projects/public-search/src/app/document-brief/document-brief.component.html
  projects/shared/src/lib/view/thumbnail/thumbnail.component.scss
Labels: search, public ui

#678 requests: display pickup location name
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.html
Labels: professional ui, circulation

#681 document: dynamic loading for items informations
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.html
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.spec.ts
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.ts
  projects/public-search/src/app/document-detail/holdings/items/items.component.html
  projects/public-search/src/app/document-detail/holdings/items/items.component.ts
Labels: public ui

#683 holdings: customize the delete message
  package-lock.json
  package.json
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/holdings-route.ts
Labels: professional ui

#690 translations: translate v0.16.10
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en.json
Labels: translations

#692 search: fix several issues
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/import-documents-route.ts
Labels: professional ui
