Repository rero/rero-ils-ui, pull requests merged in 2021-12, with the labels that each got.

#756 circulation: fix patron transaction error message.
  projects/admin/src/app/circulation/services/patron-transaction.service.ts
  projects/admin/src/app/routes/import-documents-route.ts
Labels: professional ui, circulation

#763 translations: translate v0.18.1
  projects/admin/src/assets/rero-ils-ui/admin/i18n/ar.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/de.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en_US.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/es.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/fr.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/it.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/nl.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/ar.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/de.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/en.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/en_US.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/es.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/fr.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/it.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/nl.json
Labels: translations

#765 acquisition: improve AcqAccount select editor widget
  projects/admin/src/app/acquisition/components/editor/widget/select-account-editor-widget/select-account-editor-widget.component.html
  projects/admin/src/app/acquisition/components/editor/widget/select-account-editor-widget/select-account-editor-widget.component.scss
  projects/admin/src/app/acquisition/formly/type/select-account/select-account.component.html
  projects/admin/src/app/acquisition/formly/type/select-account/select-account.component.scss
Labels: professional ui, acquisitions

#768 acquisition: refactoring order lines on receipt form
  projects/admin/src/app/acquisition/classes/receipt.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-form/order-receipt-form.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-form/order-receipt.ts
  projects/admin/src/app/acquisition/formly/type/repeat-section.type.ts
Labels: professional ui, acquisitions

#758 users: fix user editor title
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.html
Labels: professional ui, editor

#759 patrons: improve patron detailed view
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.html
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.ts
Labels: professional ui

#764 patrons: fix display of patron transaction event
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event/patron-transaction-event.component.html
Labels: professional ui, circulation, user management

#761 circulation: add debug information panels
  projects/admin/src/app/circulation/circulation.module.ts
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/item/item.component.scss
  projects/admin/src/app/circulation/item/item.component.ts
  projects/admin/src/app/circulation/pipe/get-loan-cipo.pipe.ts
  projects/admin/src/app/classes/circ-policy.ts
  projects/admin/src/app/classes/core.ts
  projects/admin/src/app/scss/styles.scss
  projects/admin/src/app/service/loan.service.ts
Labels: professional ui, circulation

#749 documents: allow to show other organisations holdings/items
  projects/admin/src/app/api/holdings-api.service.spec.ts
  projects/admin/src/app/api/holdings-api.service.ts
  projects/admin/src/app/api/item-api.service.spec.ts
  projects/admin/src/app/api/item-api.service.ts
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/guard/can-access.guard.spec.ts
  projects/admin/src/app/guard/can-access.guard.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding-organisation/holding-organisation.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding-organisation/holding-organisation.component.scss
  projects/admin/src/app/record/detail-view/document-detail-view/holding-organisation/holding-organisation.component.spec.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding-organisation/holding-organisation.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/serial-holding-item/serial-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holdings/holdings.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holdings/holdings.component.ts
  projects/admin/src/app/routes/holdings-route.ts
  projects/admin/src/app/routes/items-route.ts
  projects/shared/src/lib/shared.module.ts
Labels: professional ui

#753 ui: fix language selection
  package-lock.json
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/menu/menu-dashboard/menu-dashboard.component.spec.ts
  projects/admin/src/app/menu/menu-language/menu-language.component.spec.ts
  projects/admin/src/app/menu/menu-language/menu-language.component.ts
  projects/admin/src/app/menu/menu-mobile/menu-mobile.component.spec.ts
  projects/admin/src/app/menu/menu-user/menu-user.component.spec.ts
  projects/admin/src/app/menu/menu.component.spec.ts
  projects/admin/src/app/service/app-init.service.ts
  projects/admin/src/app/widgets/frontpage/frontpage.component.spec.ts
  projects/public-holdings-items/src/app/app-initializer.service.ts
  projects/public-holdings-items/src/app/app.module.ts
  projects/public-patron-profile/src/app/app-initializer.service.ts
  projects/public-patron-profile/src/app/app.module.ts
  projects/public-search/src/app/app-initializer.service.ts
  projects/public-search/src/app/app.module.ts
  projects/public-search/src/app/document-detail/request/request.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-fees/patron-profile-fee/patron-profile-fee.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-fees/patron-profile-fees.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-histories/patron-profile-histories.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-histories/patron-profile-history/patron-profile-history.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-ill-requests/patron-profile-ill-requests.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-loans/patron-profile-loan/patron-profile-loan.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-loans/patron-profile-loans.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-menu.service.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-menu.service.ts
  projects/public-search/src/app/patron-profile/patron-profile-menu/patron-profile-menu.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-message/patron-profile-message.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-requests/patron-profile-request/patron-profile-request.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-requests/patron-profile-requests.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile.component.ts
  projects/search-bar/src/app/app-initializer.service.ts
  projects/search-bar/src/app/app.module.ts
  projects/search-bar/src/index.html
  projects/shared/src/lib/service/user.service.ts
Labels: professional ui, search, circulation, public ui, user management

#776 circulation: checkin operations when item/patron barcode are identical
  projects/admin/src/app/circulation/checkin/checkin-action/checkin-action.component.html
  projects/admin/src/app/circulation/checkin/checkin-action/checkin-action.component.spec.ts
  projects/admin/src/app/circulation/checkin/checkin-action/checkin-action.component.ts
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/circulation.module.ts
Labels: professional ui, circulation
