Repository rero/rero-ils-ui, pull requests merged in 2021-03, with the labels that each got.

#529 patrons: edit the user personal data in a modal
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.html
  projects/admin/src/app/circulation/patron/card/card.component.html
  projects/admin/src/app/circulation/patron/card/card.component.ts
  projects/admin/src/app/circulation/patron/main/main.component.html
  projects/admin/src/app/circulation/patron/main/main.component.ts
  projects/admin/src/app/circulation/patron/profile/profile.component.html
  projects/admin/src/app/record/brief-view/ill-requests-brief-view/ill-requests-brief-view.component.html
  projects/admin/src/app/record/brief-view/patrons-brief-view.component.ts
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.html
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.spec.ts
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.ts
  projects/admin/src/app/record/detail-view/ill-request-detail-view/ill-request-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-transaction/item-transaction.component.html
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.html
  projects/admin/src/app/record/editor/wrappers/user-id/user-id.component.html
  projects/admin/src/app/record/editor/wrappers/user-id/user-id.component.ts
  projects/admin/src/app/routes/patrons-route.ts
  projects/public-search/src/app/document-detail/request/request.component.ts
  projects/shared/src/lib/class/user.ts
Labels: editor, professional ui, user management

#525 typeahead: remove HTML tags from suggestion
  projects/admin/src/app/class/typeahead/documents-typeahead.ts
  projects/admin/src/app/class/typeahead/patrons-typeahead.ts
Labels: editor

#536 circulation: fix fixed date datepicker input
  projects/admin/src/app/circulation/patron/loan/fixed-date-form/fixed-date-form.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
  projects/admin/src/app/utils/validators.ts
Labels: bug, circulation

#534 circulation: improve library closed dates handling
  projects/admin/src/app/api/library-api.service.spec.ts
  projects/admin/src/app/api/library-api.service.ts
  projects/admin/src/app/circulation/patron/loan/fixed-date-form/fixed-date-form.component.ts
  projects/admin/src/app/menu/service/library-switch.service.ts
  projects/shared/src/lib/class/user.ts
Labels: UX, circulation, enhancement, professional ui

#516 libraries: add notification settings
  projects/admin/src/app/classes/library.ts
  projects/admin/src/app/record/custom-editor/libraries/library-form.service.ts
  projects/admin/src/app/record/custom-editor/libraries/library.component.html
  projects/admin/src/app/record/custom-editor/libraries/library.component.ts
  projects/admin/src/app/record/detail-view/library-detail-view/library-detail-view.component.html
  projects/admin/src/app/record/detail-view/library-detail-view/library-detail-view.component.ts
  proxy.conf.json
Labels: notifications

#558 library: fix editor problem.
  projects/admin/src/app/record/custom-editor/libraries/library.component.ts
Labels: critical bug
