Repository rero/rero-ils-ui, pull requests merged in 2021-09, with the labels that each got.

#702 editor: search everywhere for resource linking
  package-lock.json
  package.json
  projects/admin/src/app/classes/typeahead/documents-typeahead.ts
  projects/admin/src/app/classes/typeahead/mef-typeahead.ts
  projects/admin/src/app/classes/typeahead/patrons-typeahead.ts
Labels: professional ui

#687 editor: add ISBN/ISSN on document typeahead
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/classes/typeahead/documents-typeahead.ts
Labels: professional ui

#696 items: add spinner during request process
  projects/admin/src/app/record/detail-view/document-detail-view/item-request/item-request.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/item-request/item-request.component.ts
Labels: professional ui

#693 issues: late issues filtered by current library
  projects/admin/src/app/menu/service/menu-user-services.service.ts
Labels: professional ui

#694 circulation: clear input after checkout action
  projects/admin/src/app/circulation/checkin/checkin.component.html
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/main-request/main-request.component.html
  projects/admin/src/app/circulation/main-request/main-request.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.html
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
Labels: professional ui, circulation, user management

#688 fees: add message for delete information
  projects/admin/src/app/service/record-permission.service.ts
Labels: professional ui

#695 contributions: remove link on source title
  projects/admin/src/app/record/detail-view/contribution-detail-view/contribution-detail-view.component.html
  projects/admin/src/app/record/detail-view/contribution-detail-view/corporate-bodies-detail-view/corporate-bodies-detail-view.component.html
  projects/admin/src/app/record/detail-view/contribution-detail-view/corporate-bodies-detail-view/corporate-bodies-detail-view.component.ts
  projects/admin/src/app/record/detail-view/contribution-detail-view/person-detail-view/person-detail-view.component.html
  projects/admin/src/app/record/detail-view/contribution-detail-view/person-detail-view/person-detail-view.component.ts
Labels: professional ui

#708 translations: translate v0.17.0
  projects/admin/src/assets/rero-ils-ui/admin/i18n/ar.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/de.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en_US.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/es.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/fr.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/it.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/nl.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/ar.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/de.json
Labels: translations

#682 patron: improve patron brief view
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/record/brief-view/patrons-brief-view.component.ts
  projects/admin/src/app/record/brief-view/patrons-brief-view/patrons-brief-view.component.html
  projects/admin/src/app/record/brief-view/patrons-brief-view/patrons-brief-view.component.scss
  projects/admin/src/app/record/brief-view/patrons-brief-view/patrons-brief-view.component.ts
  projects/admin/src/app/routes/patrons-route.ts
Labels: professional ui, search

#712 translations: complete v0.17.0 translations
  projects/admin/src/assets/rero-ils-ui/admin/i18n/ar.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/de.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en_US.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/es.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/fr.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/it.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/nl.json
Labels: translations
