Repository rero/rero-ils-ui, pull requests merged in 2021-10, with the labels that each got.

#710 document: fix wrong URL on collection
  projects/public-search/src/app/document-detail/item/item.component.html
Labels: public ui

#714 circulation: remove loading wheels
  projects/admin/src/app/circulation/checkin/checkin.component.html
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/items-list/items-list.component.ts
  projects/admin/src/app/circulation/main-request/main-request.component.ts
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.html
  projects/admin/src/app/circulation/main-request/requested-items-list/requested-items-list.component.html
  projects/admin/src/app/circulation/patron/history/history-item/history-item.component.html
  projects/admin/src/app/circulation/patron/history/history-item/history-item.component.ts
  projects/admin/src/app/circulation/patron/history/history.component.html
  projects/admin/src/app/circulation/patron/history/history.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.html
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.ts
  projects/admin/src/app/circulation/patron/pending/pending-item/pending-item.component.html
  projects/admin/src/app/circulation/patron/pending/pending.component.html
  projects/admin/src/app/circulation/patron/pending/pending.component.ts
  projects/admin/src/app/circulation/patron/pickup/pickup-item/pickup-item.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup.component.ts
  projects/admin/src/app/record/detail-view/acquisition-order-detail-view/order-lines/order-line/order-line.component.html
  projects/admin/src/app/record/detail-view/budget-detail-view/acquisition-account/acquisition-account.component.html
  projects/admin/src/app/record/detail-view/library-detail-view/location/location.component.html
  projects/public-search/src/app/document-detail/holdings/items/items.component.html
  projects/public-search/src/app/document-detail/holdings/items/items.component.ts
Labels: professional ui, circulation, public ui, user management

#716 circulation: restore missing translations
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/main-request/main-request.component.ts
Labels: professional ui, circulation

#720 patrons: use link instead of button for circulation link.
  projects/admin/src/app/record/brief-view/patrons-brief-view/patrons-brief-view.component.html
  projects/admin/src/app/scss/styles.scss
Labels: professional ui, search

#704 search: added sort on some resources
  package-lock.json
  package.json
  projects/admin/src/app/record/brief-view/items-brief-view/items-brief-view.component.html
  projects/admin/src/app/routes/circulation-policies-route.ts
  projects/admin/src/app/routes/collections-route.ts
  projects/admin/src/app/routes/corporate-bodies-route.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/item-types-route.ts
  projects/admin/src/app/routes/items-route.ts
  projects/admin/src/app/routes/libraries-route.ts
  projects/admin/src/app/routes/patron-types-route.ts
  projects/admin/src/app/routes/patrons-route.ts
  projects/admin/src/app/routes/persons-route.ts
  projects/admin/src/app/routes/templates-route.ts
  projects/admin/src/app/routes/vendors-route.ts
  projects/public-search/src/app/routes/collections-route.service.ts
  projects/public-search/src/app/routes/documents-route.service.ts
Labels: professional ui, search, public ui
