Repository rero/rero-ils-ui, pull requests merged in 2021-11, with the labels that each got.

#748 circulation: add item link on the patron history tab
  projects/admin/src/app/circulation/patron/history/history-log/history-log.component.html
Labels: professional ui, circulation, user management

#705 import: add new sources to import from the web
  projects/admin/src/app/api/import-source-api.service.ts
  projects/admin/src/app/classes/external-source.ts
  projects/admin/src/app/record/brief-view/documents-brief-view/documents-brief-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.ts
  projects/admin/src/app/routes/import-documents-route.ts
Labels: professional ui, search

#750 operation logs: Fix the window display if no record
  projects/admin/src/app/api/import-source-api.service.ts
  projects/admin/src/app/record/operation-logs/operation-logs.component.html
  projects/admin/src/app/record/operation-logs/operation-logs.component.scss
  projects/admin/src/app/record/operation-logs/operation-logs.component.ts
Labels: professional ui, activity-logs
