Repository rero/rero-ils-ui, pull requests merged in 2021-07, with the labels that each got.

#653 items: implement circulation history
  projects/admin/src/app/api/operation-logs-api.service.spec.ts
  projects/admin/src/app/api/operation-logs-api.service.ts
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.css
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.html
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.spec.ts
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-logs-dialog/circulation-logs-dialog.component.html
  projects/admin/src/app/record/circulation-logs/circulation-logs-dialog/circulation-logs-dialog.component.spec.ts
  projects/admin/src/app/record/circulation-logs/circulation-logs-dialog/circulation-logs-dialog.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.css
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.html
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.spec.ts
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.ts
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
Labels: professional ui

#652 items: add temporary location field
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/pipe/item-in-collection.pipe.spec.ts
  projects/admin/src/app/pipe/item-in-collection.pipe.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-item-in-collection/holding-item-in-collection.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-item-in-collection/holding-item-in-collection.component.spec.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/serial-holding-item/serial-holding-item.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/public-search/src/app/document-detail/item/item.component.html
Labels: professional ui, public ui

#654 documentation: extend gh-actions labeler rules
  .github/labeler.yml
Labels: documentation

#657 translations: translate v1.4.0
  projects/admin/src/assets/rero-ils-ui/admin/i18n/ar.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/de.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en_US.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/es.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/fr.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/it.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/nl.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/ar.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/de.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/en.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/en_US.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/es.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/fr.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/it.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/nl.json
Labels: translations

#658 search: fix corporate bodies search
  projects/admin/src/app/routes/corporate-bodies-route.ts
Labels: professional ui

#661 users: fix unique email check
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.ts
Labels: editor, professional ui

#663 documents: fix translation on circulation informations
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.ts
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.html
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.ts
  projects/public-search/src/app/document-detail/item/item.component.html
  projects/public-search/src/app/document-detail/item/item.component.ts
Labels: professional ui, public ui

#662 Restores operation logs and transaction history
  projects/admin/src/app/api/operation-logs-api.service.ts
  projects/admin/src/app/circulation/patron/history/history-item/history-item.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.html
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.spec.ts
Labels: activity-logs, circulation, professional ui, user management

#665 translations: complete the v1.4.0 translations
  projects/admin/src/assets/rero-ils-ui/admin/i18n/de.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/es.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/fr.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/it.json
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/de.json
Labels: translations

#672 circulation: improve requested loans tab
  projects/admin/src/app/circulation/main-request/main-request.component.ts
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.html
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.ts
Labels: circulation, professional ui

#675 users: close modal by clicking outside the form
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.ts
  projects/admin/src/app/record/editor/wrappers/user-id/user-id.component.ts
Labels: editor, professional ui

#676 admin: do not display default result list
  package-lock.json
  package.json
  projects/admin/src/app/record/document-record-search/document-record-search.component.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/patrons-route.ts
Labels: professional ui, search

#671 documents: optimize holdings/items display
  angular.json
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holdings/holdings.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holdings/holdings.component.ts
  projects/public-holdings-items/src/index.html
  projects/public-search/src/app/api/item-api.service.ts
  projects/public-search/src/app/api/location-api.service.spec.ts
  projects/public-search/src/app/api/patron-transaction-api.service.spec.ts
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.html
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.spec.ts
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.ts
  projects/public-search/src/app/document-detail/holdings/holdings.component.html
  projects/public-search/src/app/document-detail/holdings/holdings.component.spec.ts
  projects/public-search/src/app/document-detail/holdings/holdings.component.ts
  projects/public-search/src/app/document-detail/holdings/items/items.component.html
  projects/public-search/src/app/document-detail/holdings/items/items.component.ts
  projects/public-search/src/app/document-detail/item/item.component.html
  projects/public-search/src/app/document-detail/item/item.component.spec.ts
  projects/public-search/src/app/document-detail/request/pickup-location/pickup-location.component.spec.ts
  projects/public-search/src/app/document-detail/request/request.component.spec.ts
Labels: professional ui, public ui

#670 users: translate the gender
  projects/public-search/src/app/patron-profile/patron-profile-personal/patron-profile-personal.component.html
Labels: public ui, user management

#673 ill requests: removes extra parenthesis
  projects/admin/src/app/record/detail-view/ill-request-detail-view/ill-request-detail-view.component.html
Labels: professional ui
