Repository rero/rero-ils-ui, pull requests merged in 2022-02, with the labels that each got.

#800 patrons: display patron `creation_date` field
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.html
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.ts
Labels: professional ui

#794 patron_type: display of unpaid subscription limit
  projects/admin/src/app/record/detail-view/patron-types-detail-view/patron-types-detail-view.component.html
  projects/admin/src/app/routes/patron-types-route.ts
Labels: professional ui

#773 items: configure new facets for inventory list
  projects/admin/src/app/routes/items-route.ts
Labels: professional ui

#802 search: fix default sort parameters
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/items-route.ts
  projects/admin/src/app/routes/patrons-route.ts
  projects/public-search/src/app/routes/documents-route.service.ts
Labels: professional ui, public ui

#809 Translations update from Hosted Weblate
  projects/admin/src/assets/rero-ils-ui/admin/i18n/it.json
Labels: translations

#810 item: add organisation filter
  projects/admin/src/app/routes/items-route.ts
Labels: professional ui

#814 holdings: fix item collapsing
  projects/public-holdings-items/src/index.html
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.html
  projects/public-search/src/app/document-detail/holdings/holdings.component.html
Labels: public ui

#815 holdings: fix detailed view for issue items.
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/received-issue/received-issue.component.html
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/received-issue/received-issue.component.ts
  projects/admin/src/app/routes/items-route.ts
Labels: professional ui

#813 document: move edition statement into brief view
  projects/admin/src/app/record/brief-view/documents-brief-view/documents-brief-view.component.html
  projects/public-search/src/app/document-brief/document-brief.component.html
Labels: professional ui, search, public ui
