Repository rero/rero-ils-ui, pull requests merged in 2022-05, with the labels that each got.

#847 document: improve isbn and issn check
  projects/admin/src/app/record/editor/wrappers/identifiedby-value.component.ts
Labels: f: professional ui, f: editor

#828 document: subject subdivisions display
  package-lock.json
  package.json
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
Labels: f: professional ui

#851 patron view: fix missing translations
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
Labels: f: professional ui, f: circulation, f: user management

#827 circulation: display due date at checkin
  projects/admin/src/app/circulation/item/item.component.html
Labels: f: professional ui, f: circulation

#856 notification_types: mark missing translation
  projects/admin/src/manual_translations.ts
Labels: translations

#858 holdings: small ui fix
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.html
Labels: f: professional ui, correction, UX

#857 general: Safe URL pipe
  projects/admin/src/app/record/detail-view/contribution-detail-view/corporate-bodies-detail-view/corporate-bodies-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-description/document-description.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/related-resource/related-resource.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/public-search/src/app/document-brief/document-brief.component.html
  projects/public-search/src/app/document-detail/item/item.component.html
  projects/shared/src/lib/pipe/safe-url.pipe.ts
  projects/shared/src/lib/shared.module.ts
  projects/shared/src/public-api.ts
Labels: f: professional ui, f: search, f: public ui
