Repository rero/rero-ils-ui, pull requests merged in 2022-04, with the labels that each got.

#774 patron profile: add sort by due date
  projects/public-search/src/app/api/loan-api.service.ts
  projects/public-search/src/app/patron-profile/patron-profile-loans/patron-profile-loans.component.html
  projects/public-search/src/app/patron-profile/patron-profile-loans/patron-profile-loans.component.ts
Labels: f: circulation, f: public ui, f: user management

#836 documents: fix display of serial items for other organisations
  projects/admin/src/app/record/detail-view/document-detail-view/holding/serial-holding-item/serial-holding-item.component.html
Labels: f: professional ui

#838 items: fix request of item in detail view
  projects/admin/src/app/record/detail-view/item-detail-view/item-transactions/item-transactions.component.ts
Labels: f: professional ui

#837 holdings: allow new line for `enumerationAndChronology` field
  projects/admin/src/app/record/detail-view/document-detail-view/holding-shared-view/holding-shared-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding-shared-view/holding-shared-view.component.spec.ts
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.html
Labels: f: professional ui, f: public ui

#842 transactions: better transactions history display.
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.css
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.html
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.scss
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.spec.ts
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.html
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.scss
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.ts
Labels: f: professional ui, f: circulation, f: activity-logs

#834 circulation: enter patron barcode when checkin form contains items
  projects/admin/src/app/circulation/checkin/checkin.component.ts
Labels: f: professional ui, f: circulation

#844 Circulation: allow extend all items button
  projects/admin/src/app/circulation/item/item.component.spec.ts
  projects/admin/src/app/circulation/item/item.component.ts
  projects/admin/src/app/circulation/items-list/items-list.component.html
  projects/admin/src/app/circulation/items-list/items-list.component.scss
  projects/admin/src/app/circulation/items-list/items-list.component.spec.ts
  projects/admin/src/app/circulation/items-list/items-list.component.ts
Labels: f: professional ui, f: circulation

#845 translations: fix missing translations
  projects/admin/src/app/record/detail-view/document-detail-view/holding-detail/holding-detail.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/serial-holding-item/serial-holding-item.component.html
Labels: f: professional ui
