Repository rero/rero-ils-ui, pull requests merged in 2022-08, with the labels that each got.

#882 templates: update footer info
  projects/admin/src/app/app.component.html
Labels: f: professional ui

#880 acquisition: rollover
  projects/admin/src/app/acquisition/api/acq-order-api.service.ts
  projects/admin/src/app/acquisition/api/acq-receipt-api.service.ts
  projects/admin/src/app/acquisition/classes/order.ts
  projects/admin/src/app/acquisition/components/account/account-detail-view/account-detail-view.component.html
  projects/admin/src/app/acquisition/components/budget/budget-brief-view/budgets-brief-view.component.ts
  projects/admin/src/app/acquisition/components/budget/budget-detail-view/budget-detail-view.component.html
  projects/admin/src/app/acquisition/components/budget/budget-detail-view/budget-detail-view.component.ts
  projects/admin/src/app/acquisition/components/order/order-brief-view/order-brief-view.component.ts
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-detail-view.component.html
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-detail-view.component.ts
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-line/order-line.component.html
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-line/order-line.component.ts
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-lines/order-lines.component.html
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-lines/order-lines.component.ts
  projects/admin/src/app/acquisition/components/order/order-summary/order-summary.component.html
  projects/admin/src/app/acquisition/components/order/order-summary/order-summary.component.ts
  projects/admin/src/app/acquisition/components/order/place-order-form/place-order-form.component.html
  projects/admin/src/app/acquisition/components/order/place-order-form/place-order-form.component.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-detail-view/receipt-detail-view.component.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-form/order-receipt-form.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-list/receipt-list.component.html
  projects/admin/src/app/acquisition/components/receipt/receipt-list/receipt-list.component.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-summary/receipt-summary.component.html
  projects/admin/src/app/acquisition/components/receipt/receipt-summary/receipt-summary.component.scss
  projects/admin/src/app/acquisition/components/receipt/receipt-summary/receipt-summary.component.ts
  projects/admin/src/app/acquisition/formly/type/field-ref.type.spec.ts
  projects/admin/src/app/acquisition/formly/type/field-ref.type.ts
  projects/admin/src/app/acquisition/routes/accounts-route.ts
  projects/admin/src/app/acquisition/routes/budgets-route.ts
  projects/admin/src/app/acquisition/routes/guards/abstract-can-add.guard.ts
  projects/admin/src/app/acquisition/routes/guards/can-add-account.guard.spec.ts
  projects/admin/src/app/acquisition/routes/guards/can-add-account.guard.ts
  projects/admin/src/app/acquisition/routes/guards/can-add-order-line.guard.spec.ts
  projects/admin/src/app/acquisition/routes/guards/can-add-order-line.guard.ts
  projects/admin/src/app/acquisition/routes/guards/can-order-receipt.guard.spec.ts
  projects/admin/src/app/acquisition/routes/guards/can-order-receipt.guard.ts
  projects/admin/src/app/acquisition/routes/guards/is-budget-active.guard.spec.ts
  projects/admin/src/app/acquisition/routes/guards/is-budget-active.guard.ts
  projects/admin/src/app/acquisition/routes/order-lines-route.ts
  projects/admin/src/app/acquisition/routes/orders-route.ts
  projects/admin/src/app/acquisition/routes/receipt-lines-route.ts
  projects/admin/src/app/acquisition/routes/receipts-route.ts
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/record/detail-view/organisation-detail-view/budget-select-line/budget-select-line.component.html
  projects/admin/src/app/record/detail-view/organisation-detail-view/budget-select-line/budget-select-line.component.ts
  projects/admin/src/app/record/detail-view/organisation-detail-view/budget-select/budget-select.component.html
  projects/admin/src/app/record/detail-view/organisation-detail-view/budget-select/budget-select.component.ts
  projects/admin/src/app/record/detail-view/organisation-detail-view/organisation-detail-view.component.html
  projects/admin/src/app/record/detail-view/organisation-detail-view/organisation-detail-view.component.ts
  projects/admin/src/app/routes/base-route.ts
  projects/admin/src/app/scss/styles.scss
  projects/admin/src/app/service/record-permission.service.ts
Labels: f: professional ui, f: acquisitions

#884 circulation: add call-numbers on loan circulation information.
  projects/admin/src/app/circulation/item/item.component.html
Labels: f: professional ui, f: circulation

#883 documents: Improved display of the request button on the holdings
  projects/admin/src/app/record/detail-view/document-detail-view/item-request/item-request.component.ts
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.html
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.ts
  projects/public-search/src/app/document-detail/holdings/items/items.component.html
  projects/public-search/src/app/document-detail/holdings/items/items.component.ts
  projects/public-search/src/app/document-detail/item/item.component.html
  projects/public-search/src/app/document-detail/request/pickup-location/pickup-location.component.html
  projects/public-search/src/app/document-detail/request/pickup-location/pickup-location.component.ts
  projects/public-search/src/app/document-detail/request/request.component.html
  projects/public-search/src/app/document-detail/request/request.component.ts
Labels: f: professional ui, f: public ui

#867 documents: open aggregation with filters and add more facets for documents search
  projects/admin/src/app/menu/service/menu-user-services.service.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/route.service.ts
  projects/public-search/src/app/routes/documents-route.service.ts
  projects/public-search/src/index.html
Labels: f: professional ui, f: public ui

#885 document: fix collection display
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.ts
  projects/shared/src/lib/view/brief/part-of/part-of.component.html
  projects/shared/src/lib/view/brief/part-of/part-of.component.ts
Labels: f: professional ui, f: search

#875 acquisitions: fix message info on order line edit button
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-line/order-line.component.ts
  projects/admin/src/app/service/record-permission.service.ts
Labels: f: professional ui, f: acquisitions
