Repository rero/rero-ils-ui, pull requests merged in 2022-09, with the labels that each got.

#886 merge US-Acquisition-export
  package-lock.json
  package.json
  projects/admin/src/app/acquisition/components/account/account-list/account-list.component.html
  projects/admin/src/app/acquisition/components/account/account-list/account-list.component.ts
  projects/admin/src/app/acquisition/routes/accounts-route.ts
  projects/admin/src/app/acquisition/routes/orders-route.ts
Labels: f: professional ui, f: acquisitions

#879 Loans: loans brief view
  projects/admin/src/app/api/operation-logs-api.service.spec.ts
  projects/admin/src/app/api/operation-logs-api.service.ts
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/menu/menu-user-services/menu-user-services.component.ts
  projects/admin/src/app/menu/service/menu-user-services.service.ts
  projects/admin/src/app/record/brief-view/loans-brief-view/loans-brief-view.component.html
  projects/admin/src/app/record/brief-view/loans-brief-view/loans-brief-view.component.scss
  projects/admin/src/app/record/brief-view/loans-brief-view/loans-brief-view.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-logs-dialog.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-logs-dialog/circulation-logs-dialog.component.html
  projects/admin/src/app/record/circulation-logs/circulation-logs-dialog/circulation-logs-dialog.component.spec.ts
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.html
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.spec.ts
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.ts
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-transactions/item-transactions.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-transactions/item-transactions.component.ts
  projects/admin/src/app/routes/loans-route.ts
  projects/admin/src/app/routes/route.service.ts
Labels: f: professional ui, f: search, f: circulation, f: activity-logs

#891 menu: translation for current loans
  projects/admin/src/manual_translations.ts
Labels: translations

#895 documents: formatting of the title variant
  projects/admin/src/app/record/detail-view/document-detail-view/document-description/document-description.component.ts
Labels: f: professional ui

#893 documents: add linked documents button
  projects/admin/src/app/api/document-api.service.spec.ts
  projects/admin/src/app/api/document-api.service.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.ts
Labels: f: professional ui

#892 holdings: fix display in small screens
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.html
  projects/public-search/src/app/document-detail/item/item.component.html
Labels: f: public ui

#894 circulation: add link to patron name
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/patron/main/main.component.ts
Labels: f: professional ui, f: circulation, f: user management

#898 document: filter on the remote typeahead
  projects/admin/src/app/classes/typeahead/documents-typeahead.ts
Labels: f: professional ui

#897 patron profile: fix wrong url on the contributor
  projects/public-search/src/app/patron-profile/patron-profile-document/patron-profile-document.component.html
  projects/public-search/src/app/patron-profile/patron-profile-document/patron-profile-document.component.ts
Labels: f: public ui, f: user management
