Repository rero/rero-ils-ui, pull requests merged in 2022-03, with the labels that each got.

#821 documentation: improve changelog generation and labeler
  .github/labeler.yml
  .github_changelog_generator
Labels: dev: documentation, documentation

#823 documents: add order on holdings/items
  projects/public-search/src/app/api/holdings-api.service.ts
Labels: f: public ui

#824 patron profile: change the number of loans to 20
  projects/public-search/src/app/patron-profile/patron-profile-loans/patron-profile-loans.component.ts
Labels: f: circulation, f: public ui, f: user management

#807 import: fix check of duplicates during import from the web
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.ts
Labels: f: professional ui, correction

#825 circulation: disambiguate checkout error message
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
Labels: f: professional ui, f: circulation, f: user management
