Repository rero/rero-ils-ui, pull requests merged in 2022-06, with the labels that each got.

#855 document: `identifiedBy` duplicate check.
  projects/admin/src/app/classes/identifiers.ts
  projects/admin/src/app/classes/typeahead/documents-typeahead.ts
  projects/admin/src/app/record/editor/wrappers/identifiedby-value.component.ts
Labels: f: professional ui, f: editor

#859 requests: add location/pickup-location sort criteria.
  projects/admin/src/app/circulation/main-request/main-request.component.ts
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.html
Labels: f: professional ui, f: circulation

#861 forms: add email validation behavior
  angular.json
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.ts
  projects/public-search/src/app/patron-profile/patron-profile-personal-editor/patron-profile-personal-editor.component.ts
Labels: f: professional ui, f: editor, f: public ui, f: user management

#865 translations: fix missing request translation
  projects/public-search/src/app/document-detail/request/pickup-location/pickup-location.component.ts
Labels: f: public ui

#848 documents: export records
  projects/public-search/src/app/routes/documents-route.service.ts
Labels: f: public ui, f: data export

#835 editor: adapt code to new widget structure on jsonschema
  package-lock.json
  package.json
  projects/admin/src/app/acquisition/components/receipt/receipt-detail-view/receipt-detail-view.component.ts
  projects/admin/src/app/acquisition/routes/accounts-route.ts
  projects/admin/src/app/acquisition/routes/order-lines-route.ts
  projects/admin/src/app/acquisition/routes/receipt-lines-route.ts
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.ts
  projects/admin/src/app/record/detail-view/circ-policy-detail-view/circ-policy-detail-view.component.html
  projects/admin/src/app/record/detail-view/circ-policy-detail-view/circ-policy-detail-view.component.ts
  projects/admin/src/app/routes/circulation-policies-route.ts
  projects/admin/src/app/routes/collections-route.ts
  projects/admin/src/app/routes/holdings-route.ts
  projects/admin/src/app/routes/items-route.ts
  projects/admin/src/app/routes/patron-types-route.ts
  projects/admin/src/app/routes/patrons-route.ts
  projects/admin/src/app/routes/templates-route.ts
Labels: f: professional ui, f: editor, f: acquisitions

#869 guard: fix tests on CanAccessGuard
  projects/admin/src/app/guard/can-access.guard.spec.ts
Labels: f: professional ui

#871 fix: extract missing translation
  projects/admin/src/app/record/detail-view/document-detail-view/holding-organisation/holding-organisation.component.html
Labels: f: professional ui
