Repository rero/rero-ils-ui, pull requests merged in 2022-01, with the labels that each got.

#778 circulation: fix display patron profile on checkout
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.html
Labels: bug, professional ui, circulation

#780 Translations update from Hosted Weblate
  projects/admin/src/assets/rero-ils-ui/admin/i18n/nl.json
Labels: translations

#779 Translations update from Hosted Weblate
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/nl.json
Labels: translations

#783 acquisition: fix receipt date in order brief view
  projects/admin/src/app/acquisition/components/order/order-brief-view/order-brief-view.component.ts
Labels: acquisitions

#786 holdings: fix item collapsing.
  projects/public-holdings-items/src/index.html
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.html
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.scss
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.spec.ts
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.ts
  projects/public-search/src/app/document-detail/holdings/holdings.component.html
Labels: public ui

#787 patron: fix some translations
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
Labels: professional ui, circulation, user management

#791 circulation policies: fix detail view
  projects/admin/src/app/record/detail-view/circ-policy-detail-view/circ-policy-detail-view.component.html
  projects/admin/src/app/record/detail-view/circ-policy-detail-view/circ-policy-detail-view.component.ts
Labels: professional ui

#792 document: fix title display on brief view
  projects/admin/src/app/record/brief-view/documents-brief-view/documents-brief-view.component.html
  projects/public-search/src/app/document-brief/document-brief.component.html
Labels: professional ui, search, public ui

#793 request: display the request time
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-transaction/item-transaction.component.html
Labels: professional ui, circulation

#762 circ_policies: fix detail view
  projects/admin/src/app/record/detail-view/circ-policy-detail-view/circ-policy-detail-view.component.html
Labels: professional ui
