Repository rero/rero-ils-ui, pull requests merged in 2023-04, with the labels that each got.

#964 menus: add missing translation
  projects/admin/src/manual_translations.ts
Labels: translations

#963 patron profile: fix tooltip message on extend
  projects/public-search/src/app/patron-profile/patron-profile-loans/patron-profile-loan/patron-profile-loan.component.html
Labels: f: circulation, f: public ui, f: user management

#970 library switch menu: fix sort by name
  projects/admin/src/app/menu/service/library-switch-menu.service.ts
Labels: f: professional ui

#968 ill request: ill pickup name
  projects/admin/src/app/record/detail-view/ill-request-detail-view/ill-request-detail-view.component.html
  projects/admin/src/app/record/detail-view/library-detail-view/location/location.component.html
Labels: f: professional ui

#969 inventory list: add descending sorting
  projects/admin/src/app/routes/items-route.ts
Labels: f: professional ui

#971 circulation: fix fixed date sunday not disabled
  projects/admin/src/app/classes/library.ts
Labels: f: professional ui

#961 Transactions: fix transactions total amount calculation
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event-form/patron-transaction-event-form.component.ts
  projects/admin/src/app/circulation/services/patron-transaction.service.ts
Labels: f: professional ui, f: circulation, f: user management

#941 entity: use entity instead of contribution
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.html
  projects/admin/src/app/circulation/patron/history/history-log/history-log.component.html
  projects/admin/src/app/circulation/patron/history/history-log/history-log.component.ts
  projects/admin/src/app/circulation/patron/pending/pending-item/pending-item.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup-item/pickup-item.component.html
  projects/admin/src/app/classes/typeahead/ITypeahead-interface.ts
  projects/admin/src/app/classes/typeahead/documents-typeahead.ts
  projects/admin/src/app/classes/typeahead/items-typeahead.ts
  projects/admin/src/app/classes/typeahead/mef-organisation-typeahead.ts
  projects/admin/src/app/classes/typeahead/mef-person-typeahead.ts
  projects/admin/src/app/classes/typeahead/mef-typeahead.ts
  projects/admin/src/app/classes/typeahead/patrons-typeahead.ts
  projects/admin/src/app/pipe/subject-process.pipe.spec.ts
  projects/admin/src/app/pipe/subject-process.pipe.ts
  projects/admin/src/app/record/brief-view/documents-brief-view/documents-brief-view.component.html
  projects/admin/src/app/record/detail-view/collection-detail-view/collection-items/collection-items.component.html
  projects/admin/src/app/record/detail-view/contribution-detail-view/contribution-detail-view.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-description/document-description.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/routes/corporate-bodies-route.ts
  projects/admin/src/app/routes/import-documents-route.ts
  projects/admin/src/app/routes/persons-route.ts
  projects/admin/src/app/service/ui-remote-typeahead.service.spec.ts
  projects/public-search/src/app/document-brief/document-brief.component.html
  projects/public-search/src/app/patron-profile/patron-profile-document/patron-profile-document.component.html
  projects/public-search/src/app/patron-profile/patron-profile-document/patron-profile-document.component.ts
  projects/public-search/src/app/patron-profile/patron-profile-histories/patron-profile-history/patron-profile-history.component.html
  projects/public-search/src/app/patron-profile/patron-profile-histories/patron-profile-history/patron-profile-history.component.spec.ts
  projects/public-search/src/app/patron-profile/patron-profile-histories/patron-profile-history/patron-profile-history.component.ts
  projects/public-search/src/app/routes/documents-route.service.ts
  projects/shared/src/lib/pipe/contribution-entity.pipe.spec.ts
  projects/shared/src/lib/pipe/contribution-entity.pipe.ts
  projects/shared/src/lib/pipe/contribution-filter.pipe.spec.ts
  projects/shared/src/lib/pipe/contribution-filter.pipe.ts
  projects/shared/src/lib/pipe/contribution-format.pipe.spec.ts
  projects/shared/src/lib/pipe/contribution-format.pipe.ts
  projects/shared/src/lib/pipe/contribution-type.pipe.ts
  projects/shared/src/lib/pipe/extract-source-field.pipe.ts
  projects/shared/src/lib/pipe/url-active.pipe.ts
  projects/shared/src/lib/service/app-settings.service.spec.ts
  projects/shared/src/lib/service/app-settings.service.ts
  projects/shared/src/lib/service/search-bar-config.service.ts
  projects/shared/src/lib/shared.module.ts
  projects/shared/src/lib/view/brief/organisation-brief/organisation-brief.component.ts
  projects/shared/src/lib/view/brief/person-brief/person-brief.component.ts
  projects/shared/src/lib/view/contribution/contribution.component.html
  projects/shared/src/lib/view/contribution/contribution.component.ts
  projects/shared/src/public-api.ts
  projects/shared/src/tests/user.ts
Labels: f: professional ui, f: search, f: circulation, f: public ui, f: user management

#965 items: update default sort for serial holding to `issue_sort_date`
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.ts
  projects/public-search/src/app/api/item-api.service.ts
Labels: f: professional ui, f: public ui
