Repository rero/rero-ils-ui, pull requests merged in 2023-11, with the labels that each got.

#1070 ill requests: improve pro patron view
  projects/admin/src/app/api/ill-request-api.service.ts
  projects/admin/src/app/circulation/patron/ill-request/ill-request-item/ill-request-item.component.html
  projects/admin/src/app/circulation/patron/ill-request/ill-request.component.html
  projects/admin/src/app/record/detail-view/ill-request-detail-view/ill-request-detail-view.component.html
  projects/public-search/src/app/api/ill-request-api.service.ts
Labels: enhancement, f: professional ui, f: circulation, f: public ui, f: user management

#1072 circulation: fix checkin patron info
  projects/admin/src/app/circulation/checkin/checkin.component.ts
Labels: f: professional ui, f: circulation

#1073 menus: add new icons
  projects/admin/src/app/menu/menu-definition/menu-app.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.html
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/serial-holding-detail-view.component.html
Labels: enhancement, f: professional ui

#1075 documents: fix notes display
  projects/admin/src/app/record/detail-view/document-detail-view/document-description/document-description.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-description/document-description.component.ts
Labels: f: professional ui

#1082 libraies: add editor validation
  projects/admin/src/app/record/custom-editor/libraries/library-form.service.ts
  projects/admin/src/app/routes/statistics-cfg-route.ts
Labels: f: professional ui, f: editor

#1083 translations: add missing menu translation
  projects/admin/src/assets/rero-ils-ui/admin/i18n/ar.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/de.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en_US.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/es.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/fr.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/it.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/nl.json
  projects/admin/src/manual_translations.ts
Labels: translations
