Repository rero/rero-ils-ui, pull requests merged in 2023-02, with the labels that each got.

#915 user: password validator
  package-lock.json
  package.json
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.html
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.ts
  projects/public-search/src/app/api/user-api.service.ts
  projects/public-search/src/app/patron-profile/patron-profile-password/patron-profile-password.component.ts
Labels: f: professional ui, f: editor, f: public ui, f: user management

#930 inventory: current pending requests
  projects/admin/src/app/record/brief-view/items-brief-view/items-brief-view.component.html
  projects/admin/src/app/routes/items-route.ts
Labels: f: professional ui, f: search

#932 issues: fix issue sorting
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/serial-holding-detail-view.component.ts
Labels: f: professional ui

#905 local_fields: fix local fields orders
  projects/admin/src/app/api/local-field-api.service.ts
  projects/admin/src/app/record/detail-view/local-field/local-field.component.html
  projects/admin/src/app/record/detail-view/local-field/local-field.component.ts
Labels: f: professional ui

#940 circulation: fix manual fee modal dialog
  projects/admin/src/app/circulation/patron/patron-transactions/patron-fee/patron-fee.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.ts
Labels: f: professional ui, f: circulation, f: user management
