Repository rero/rero-ils-ui, pull requests merged in 2023-03, with the labels that each got.

#942 statistics: add brief and detail view config
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/menu/menu-definition/menu-app.ts
  projects/admin/src/app/record/brief-view/statistics-cfg-brief-view-component.ts
  projects/admin/src/app/record/detail-view/statistics-cfg-detail-view/statistics-cfg-detail-view.component.html
  projects/admin/src/app/record/detail-view/statistics-cfg-detail-view/statistics-cfg-detail-view.component.ts
  projects/admin/src/app/routes/route.service.ts
  projects/admin/src/app/routes/statistics-cfg-route.ts
  projects/shared/src/lib/util/permissions.ts
Labels: f: professional ui, f: search

#951 translations: fix string translation i18n pipe
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-detail-view.component.html
  projects/admin/src/app/acquisition/components/receipt/receipt-list/receipt-list.component.html
  projects/admin/src/app/acquisition/components/receipt/receipt-summary/receipt-summary.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.html
  projects/public-search/src/app/patron-profile/patron-profile-loans/patron-profile-loan/patron-profile-loan.component.html
  projects/public-search/src/manual_translation.ts
Labels: f: professional ui, f: circulation, f: public ui, f: user management, f: acquisitions

#955 patron: fix the display of the badges on brief view
  projects/admin/src/app/record/brief-view/patrons-brief-view/patrons-brief-view.component.html
Labels: f: professional ui, f: search

#938 documents: default search filters on resource search input
  projects/admin/src/app/record/search-view/document-record-search/document-record-search.component.html
  projects/admin/src/app/routes/base-route.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/route-tool.service.ts
  projects/admin/src/app/service/organisation.service.ts
  projects/shared/src/lib/service/user.service.ts
Labels: f: professional ui

#949 circulation: fix clear patron button display
  projects/admin/src/app/circulation/checkin/checkin.component.html
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/patron/card/card.component.html
  projects/admin/src/app/circulation/patron/card/card.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
Labels: f: professional ui, f: circulation, f: user management

#959 translations: add missing translate attribute
  projects/admin/src/app/menu/menu-definition/menu-app.ts
  projects/admin/src/app/record/detail-view/permission-detail-view/permission-detail-view.component.html
Labels: f: professional ui
