Repository rero/rero-ils-ui, pull requests merged in 2023-07, with the labels that each got.

#999 holdings: issue creation permission management
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/received-issue/received-issue.component.ts
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/serial-holding-detail-view.component.html
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/serial-holding-detail-view.component.ts
Labels: f: professional ui, READY TO MERGE

#1000 editor: add can deactivate guard
  package-lock.json
  package.json
  projects/admin/src/app/acquisition/routes/accounts-route.ts
  projects/admin/src/app/acquisition/routes/order-lines-route.ts
  projects/admin/src/app/acquisition/routes/orders-route.ts
  projects/admin/src/app/acquisition/routes/receipt-lines-route.ts
  projects/admin/src/app/acquisition/routes/receipts-route.ts
  projects/admin/src/app/circulation/services/loan-fixed-date.service.spec.ts
  projects/admin/src/app/record/custom-editor/document-editor/document-editor.component.html
  projects/admin/src/app/record/custom-editor/document-editor/document-editor.component.ts
  projects/admin/src/app/record/custom-editor/holding-editor/holding-editor.component.html
  projects/admin/src/app/record/custom-editor/holding-editor/holding-editor.component.ts
  projects/admin/src/app/record/custom-editor/libraries/library.component.ts
  projects/admin/src/app/routes/circulation-policies-route.ts
  projects/admin/src/app/routes/collections-route.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/holdings-route.ts
  projects/admin/src/app/routes/ill-requests-route.ts
  projects/admin/src/app/routes/item-types-route.ts
  projects/admin/src/app/routes/items-route.ts
  projects/admin/src/app/routes/libraries-route.ts
  projects/admin/src/app/routes/local-fields-route.ts
  projects/admin/src/app/routes/locations-route.ts
  projects/admin/src/app/routes/organisations-route.ts
  projects/admin/src/app/routes/patron-types-route.ts
  projects/admin/src/app/routes/patrons-route.ts
  projects/admin/src/app/routes/templates-route.ts
  projects/admin/src/app/routes/vendors-route.ts
  projects/public-search/src/app/patron-profile/patron-profile-personal/patron-profile-personal.component.spec.ts
Labels: f: professional ui, f: editor, f: circulation, f: public ui, f: user management, f: acquisitions

#1007 typeahead: custom remote entity typeahead component
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/classes/typeahead/mef-typeahead.ts
  projects/admin/src/app/record/formly/type/entity-typeahead/entity-typeahead.component.html
  projects/admin/src/app/record/formly/type/entity-typeahead/entity-typeahead.component.scss
  projects/admin/src/app/record/formly/type/entity-typeahead/entity-typeahead.component.ts
  projects/admin/src/app/record/formly/type/entity-typeahead/entity-typeahead.interface.ts
  projects/admin/src/app/scss/styles.scss
  projects/admin/src/app/service/ui-remote-typeahead.service.ts
Labels: f: professional ui, f: editor

#1008 entities: update routes
  projects/admin/src/app/record/detail-view/entities-detail-view/local/entities-local-detail-view.component.html
  projects/admin/src/app/record/detail-view/entities-detail-view/remote/entities-remote-detail-view.component.html
  projects/admin/src/app/routes/entities-local-route.ts
  projects/admin/src/app/routes/entities-route.ts
  projects/public-search/src/app/routes/documents-route.service.ts
  projects/shared/src/lib/component/entities/entity-brief-view/entity-brief-view.component.ts
  projects/shared/src/lib/pipe/contribution-type.pipe.spec.ts
  projects/shared/src/lib/pipe/contribution-type.pipe.ts
  projects/shared/src/lib/shared.module.ts
  projects/shared/src/lib/view/brief/contribution-brief/contribution-brief.component.html
  projects/shared/src/lib/view/brief/contribution-brief/contribution-brief.component.spec.ts
  projects/shared/src/lib/view/brief/contribution-brief/contribution-brief.component.ts
  projects/shared/src/lib/view/brief/contribution-sources/contribution-sources.component.css
  projects/shared/src/lib/view/brief/contribution-sources/contribution-sources.component.html
  projects/shared/src/lib/view/brief/contribution-sources/contribution-sources.component.spec.ts
  projects/shared/src/lib/view/brief/contribution-sources/contribution-sources.component.ts
  projects/shared/src/lib/view/brief/organisation-brief/organisation-brief.component.html
  projects/shared/src/lib/view/brief/organisation-brief/organisation-brief.component.spec.ts
  projects/shared/src/lib/view/brief/organisation-brief/organisation-brief.component.ts
  projects/shared/src/lib/view/brief/person-brief/person-brief.component.html
  projects/shared/src/lib/view/brief/person-brief/person-brief.component.spec.ts
  projects/shared/src/lib/view/brief/person-brief/person-brief.component.ts
  projects/shared/src/public-api.ts
Labels: f: professional ui, f: search, f: public ui

#1014 entities: autocomplete search bar
  projects/public-search/src/app/search-bar/search-bar.component.ts
  projects/shared/src/lib/service/search-bar-config.service.ts
Labels: f: search, f: public ui

#1015 editor: allow local entities creation from document editor
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.ts
  projects/admin/src/app/record/formly/type/entity-typeahead/add-entity-local-form/add-entity-local-form.component.html
  projects/admin/src/app/record/formly/type/entity-typeahead/add-entity-local-form/add-entity-local-form.component.ts
  projects/admin/src/app/record/formly/type/entity-typeahead/add-entity-local.component.ts
  projects/admin/src/app/record/formly/type/entity-typeahead/entity-typeahead.component.html
  projects/admin/src/app/record/formly/type/entity-typeahead/entity-typeahead.component.ts
  projects/admin/src/app/record/formly/type/entity-typeahead/entity-typeahead.interface.ts
Labels: f: professional ui, f: editor
