Repository rero/rero-ils-ui, pull requests merged in 2023-01, with the labels that each got.

#924 patron history: fix contributions display
  projects/admin/src/app/circulation/patron/history/history-log/history-log.component.html
  projects/public-search/src/app/patron-profile/patron-profile-histories/patron-profile-history/patron-profile-history.component.html
  projects/shared/src/lib/pipe/contribution-filter.pipe.spec.ts
  projects/shared/src/lib/pipe/contribution-filter.pipe.ts
Labels: f: professional ui, f: circulation, f: public ui, f: user management

#925 Fees: fix labels for missing data
  projects/admin/src/app/record/brief-view/patron-transaction-events-brief-view/patron-transaction-event-overdue.component.html
  projects/admin/src/app/record/search-view/patron-transaction-event-search-view/payments-data/pie/payment-data-pie.component.scss
  projects/admin/src/app/scss/styles.scss
Labels: f: professional ui, f: search

#917 circulation: add manuel fee
  angular.json
  package-lock.json
  package.json
  projects/admin/src/app/api/patron-transaction-api.service.ts
  projects/admin/src/app/circulation/circulation.module.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-fee/patron-fee.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-fee/patron-fee.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.ts
  projects/admin/src/app/circulation/services/patron-transaction.service.ts
Labels: f: professional ui, f: circulation, f: user management

#929 dev: add better support of `npm link`
  package-lock.json
  projects/admin/src/app/acquisition/acquisition.scss
  projects/admin/src/app/acquisition/components/account/account-detail-view/account-detail-view.component.scss
  projects/admin/src/app/acquisition/components/editor/widget/select-account-editor-widget/select-account-editor-widget.component.scss
  projects/admin/src/app/acquisition/components/order/order-brief-view/order-brief-view.component.scss
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-detail-view.component.scss
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-line/order-line.component.scss
  projects/admin/src/app/acquisition/components/order/order-summary/order-summary.component.scss
  projects/admin/src/app/acquisition/components/order/place-order-form/place-order-form.component.scss
  projects/admin/src/app/acquisition/components/receipt/receipt-detail-view/receipt-detail-view.component.scss
  projects/admin/src/app/acquisition/components/receipt/receipt-summary/receipt-summary.component.scss
  projects/admin/src/app/acquisition/formly/type/select-account/select-account.component.scss
  projects/admin/src/app/circulation/item/item.component.scss
  projects/admin/src/app/circulation/items-list/items-list.component.scss
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.scss
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.scss
  projects/admin/src/app/record/brief-view/loans-brief-view/loans-brief-view.component.scss
  projects/admin/src/app/record/brief-view/patron-transaction-events-brief-view/patron-transaction-events-brief-view.component.scss
  projects/admin/src/app/record/brief-view/patrons-brief-view/patrons-brief-view.component.scss
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.scss
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.scss
  projects/admin/src/app/record/detail-view/document-detail-view/holding-organisation/holding-organisation.component.scss
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/serial-holding-detail-view.style.scss
  projects/admin/src/app/record/detail-view/library-detail-view/day-opening-hours/day-opening-hours.component.scss
  projects/admin/src/app/record/detail-view/library-detail-view/library-detail-view.component.scss
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.scss
  projects/admin/src/app/record/operation-logs/operation-logs.component.scss
  projects/admin/src/app/record/search-view/patron-transaction-event-search-view/payments-data/payment-data.scss
  projects/admin/src/app/record/search-view/patron-transaction-event-search-view/payments-data/pie/payment-data-pie.component.scss
  projects/admin/src/app/record/search-view/patron-transaction-event-search-view/payments-data/table/payments-data-table.component.scss
  projects/admin/src/app/scss/styles.scss
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.scss
  projects/public-search/src/app/patron-profile/patron-profile-fees/patron-profile-fee/patron-profile-fee.component.scss
  projects/public-search/src/app/patron-profile/patron-profile-histories/patron-profile-history/patron-profile-history.component.scss
  projects/public-search/src/app/patron-profile/patron-profile-ill-requests/patron-profile-ill-request/patron-profile-ill-request.component.scss
  projects/public-search/src/app/patron-profile/patron-profile-loans/patron-profile-loan/patron-profile-loan.component.scss
  projects/public-search/src/app/patron-profile/patron-profile-requests/patron-profile-request/patron-profile-request.component.scss
  projects/public-search/src/app/scss/styles.scss
  projects/shared/tsconfig.lib.json
Labels: f: professional ui, f: search, f: circulation, f: public ui, f: user management, f: acquisitions, f: activity-logs
