Repository rero/rero-ils-ui, pull requests merged in 2023-10, with the labels that each got.

#1021 Translations update from Hosted Weblate
  projects/public-search/src/assets/rero-ils-ui/public-search/i18n/en.json
Labels: translations

#1038 items: sorting for standard holdings
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.ts
Labels: f: professional ui

#1036 circulation: add pickup name on checkin
  projects/admin/src/app/circulation/item/item.component.html
Labels: f: professional ui, f: circulation

#1042 document: fix expand to global view
  projects/public-search/src/app/app-routing.module.ts
  projects/public-search/src/app/document-record-search/document-record-search.component.html
  projects/public-search/src/app/document-record-search/document-record-search.component.spec.ts
  projects/public-search/src/app/document-record-search/document-record-search.component.ts
  projects/public-search/src/app/routes/route-factory.service.ts
Labels: f: search, f: public ui

#1045 circulation: fix patron barcode
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.html
Labels: f: professional ui, f: circulation

#1039 item: update status after request
  projects/admin/src/app/record/brief-view/documents-brief-view/documents-brief-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/serial-holding-item/serial-holding-item.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.ts
  projects/admin/src/app/record/detail-view/item-detail-view/item-transactions/item-transactions.component.ts
  projects/admin/src/app/service/items.service.ts
  projects/public-search/src/app/document-brief/document-brief.component.html
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.html
  projects/public-search/src/app/document-detail/item/item.component.html
  projects/shared/src/lib/view/availability/availability.component.html
  projects/shared/src/lib/view/availability/availability.component.ts
Labels: f: professional ui, f: search, f: public ui

#1046 entities: add place and temporal display
  projects/admin/src/app/record/detail-view/entities-detail-view/remote/entities-remote-detail-view.component.html
  projects/admin/src/app/record/detail-view/entities-detail-view/remote/entities-remote-detail-view.component.ts
  projects/admin/src/manual_translations.ts
Labels: translations, f: professional ui

#1047 history: fix duplicate records
  projects/admin/src/app/api/operation-logs-api.service.ts
  projects/public-search/src/app/api/operation-logs-api.service.ts
Labels: f: professional ui, f: public ui, f: activity-logs

#1050 editor: add icon type on entity typeahead
  projects/admin/src/app/classes/typeahead/mef-typeahead.ts
  projects/shared/src/lib/class/entities.ts
  projects/shared/src/lib/component/entities/entity-brief-view/entity-brief-view.component.ts
Labels: f: professional ui

#1051 library: fix communication language on add
  projects/admin/src/app/record/custom-editor/libraries/library.component.html
  projects/admin/src/app/record/custom-editor/libraries/library.component.ts
Labels: f: professional ui, f: editor

#1061 transaction history: fix missing icon
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log-loan/circulation-log-loan.component.html
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log-loan/circulation-log-loan.component.scss
Labels: f: professional ui, f: circulation, f: activity-logs

#1066 chore: update github templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: dev: documentation

#1067 entities: fix source search button
  projects/admin/src/app/record/detail-view/entities-detail-view/remote/entities-remote-detail-view.component.ts
Labels: f: professional ui

#1068 entities: fix sources order by language
  projects/admin/src/app/classes/typeahead/mef-typeahead.ts
  projects/admin/src/app/record/formly/type/entity-typeahead/entity-typeahead.component.ts
Labels: f: professional ui, f: editor

#1056 patron: fix display of optional address fields
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.html
Labels: f: professional ui

#1058 library switch: always show the menu
  projects/admin/src/app/menu/service/library-switch-menu.service.ts
Labels: f: professional ui

#1059 library switch: fix switch on mobile
  projects/admin/src/app/menu/menu-mobile/menu-mobile.component.html
  projects/admin/src/app/menu/menu-mobile/menu-mobile.component.ts
  projects/admin/src/app/menu/menu-mobile/sub-menu/sub-menu.component.html
  projects/admin/src/app/menu/menu-mobile/sub-menu/sub-menu.component.ts
  projects/admin/src/app/menu/menu-switch-library/menu-switch-library.component.ts
  projects/admin/src/app/menu/menu.component.html
  projects/admin/src/app/menu/service/library-switch-menu-event.service.ts
Labels: f: professional ui
