Repository rero/rero-ils-ui, pull requests merged in 2023-08, with the labels that each got.

#1018 ILL Request: better display into patron circulation
  projects/admin/src/app/api/ill-request-api.service.ts
  projects/admin/src/app/circulation/patron/ill-request/ill-request-item/ill-request-item.component.html
  projects/admin/src/app/circulation/patron/ill-request/ill-request-item/ill-request-item.component.ts
  projects/admin/src/app/circulation/patron/ill-request/ill-request.component.html
  projects/admin/src/app/circulation/patron/ill-request/ill-request.component.ts
  projects/admin/src/manual_translations.ts
Labels: translations, f: professional ui, f: circulation, f: user management

#1019 circulation: fix item properties access on item view
  projects/admin/src/app/circulation/checkin/checkin.component.html
  projects/admin/src/app/circulation/checkin/checkin.component.spec.ts
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/item/item.component.ts
Labels: f: professional ui, f: circulation

#1022 translations: add missing menu manual translation
  projects/admin/src/manual_translations.ts
Labels: translations

#1016 issues: fix status display into holding detail view
  projects/admin/src/app/record/detail-view/document-detail-view/holding/serial-holding-item/serial-holding-item.component.html
  projects/shared/src/lib/pipe/get-translated-label.pipe.ts
Labels: f: professional ui

#1031 operation history: fix pickup location label
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log-loan/circulation-log-loan.component.html
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log-loan/circulation-log-loan.component.scss
Labels: f: professional ui, f: circulation, f: activity-logs
