Repository rero/rero-ils-ui, pull requests merged in 2023-06, with the labels that each got.

#992 keyboard shortcuts: add inventory list hotkey
  .gitignore
  projects/admin/src/app/service/keyboard-shortcuts.service.ts
Labels: f: professional ui

#977 item: delete the default value
  projects/admin/src/app/routes/items-route.ts
Labels: f: professional ui, READY TO MERGE

#997 fees: add invoice payment method
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event-form/patron-transaction-event-form.component.ts
Labels: f: professional ui, f: circulation, f: user management

#996 http: add current_library parameter on api call
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/interceptor/user-current-library.interceptor.ts
Labels: f: professional ui

#995 user: default active library
  projects/admin/src/app/menu/service/library-switch-menu-storage.service.ts
  projects/admin/src/app/menu/service/menu-factory.service.ts
  projects/admin/src/app/menu/service/menu.service.ts
Labels: f: professional ui, READY TO MERGE

#976 item: add circulation information
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.html
  projects/public-search/src/app/document-detail/holdings/holding/holding.component.spec.ts
  projects/public-search/src/app/document-detail/holdings/items/items.component.spec.ts
  projects/public-search/src/app/document-detail/item/item.component.html
  projects/public-search/src/app/document-detail/item/item.component.spec.ts
  projects/public-search/src/app/document-detail/item/item.component.ts
Labels: f: public ui, READY TO MERGE

#1002 patron profile: fix bug on contributions
  projects/public-search/src/app/patron-profile/patron-profile-document/patron-profile-document.component.html
  projects/public-search/src/app/patron-profile/patron-profile-document/patron-profile-document.component.ts
  projects/shared/src/lib/view/contribution/contribution.component.html
Labels: f: public ui, f: user management

#1001 patron profile: show overdue preview fees
  projects/public-search/src/app/api/loan-api.service.ts
  projects/public-search/src/app/patron-profile/patron-profile-loans/patron-profile-loan/patron-profile-loan.component.html
  projects/public-search/src/app/patron-profile/patron-profile-loans/patron-profile-loan/patron-profile-loan.component.ts
  projects/public-search/src/app/patron-profile/patron-profile.component.html
  projects/public-search/src/app/patron-profile/patron-profile.component.ts
  projects/public-search/src/app/patron-profile/patron-profile.service.ts
Labels: f: circulation, f: public ui, f: user management
