Repository rero/rero-ils-ui, pull requests merged in 2023-12, with the labels that each got.

#1087 translations: fix report menu
  projects/admin/src/app/menu/menu-definition/menu-app.ts
Labels: f: professional ui

#1086 circulation: add sort on location (checkout)
  projects/admin/src/app/circulation/patron/loan/loan.component.html
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
Labels: f: professional ui, f: circulation, f: user management

#1088 patron: add blocked and expired filters
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/patrons-route.ts
  projects/public-search/src/app/routes/documents-route.service.ts
Labels: f: professional ui, f: public ui

#1076 document: add acquisition aggregation
  angular.json
  projects/admin/src/app/routes/documents-route.ts
  projects/public-search/src/app/routes/documents-route.service.ts
Labels: f: professional ui, f: public ui

#1063 acquisition: add sort config
  projects/admin/src/app/acquisition/routes/orders-route.ts
  projects/admin/src/app/routes/vendors-route.ts
Labels: f: professional ui, f: acquisitions

#1081 entities: some improve navigation and links
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/record/brief-view/documents-brief-view/documents-brief-view.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/entities-related/entities-related.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/entities-related/entities-related.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/entities-related/entities-related.interface.ts
  projects/admin/src/app/record/detail-view/entities-detail-view/local/entities-local-detail-view.component.ts
  projects/admin/src/app/record/detail-view/entities-detail-view/remote/entities-remote-detail-view.component.ts
  projects/admin/src/app/utils/tools.spec.ts
  projects/shared/src/lib/class/entities.ts
  projects/shared/src/lib/class/entity.spec.ts
  projects/shared/src/lib/class/entity.ts
  projects/shared/src/lib/component/entities/entity-brief-view/entity-brief-view.component.ts
  projects/shared/src/lib/service/search-bar-config.service.ts
  projects/shared/src/lib/shared.module.ts
  projects/shared/src/lib/view/contribution/contribution.component.html
  projects/shared/src/lib/view/contribution/contribution.component.ts
  projects/shared/src/lib/view/entity-link.component.ts
  projects/shared/src/public-api.ts
Labels: f: professional ui, f: search

#1085 circulation: item on check-in list without loan
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/item/item.component.ts
  projects/admin/src/app/circulation/items-list/items-list.component.html
  projects/admin/src/app/classes/items.ts
Labels: f: professional ui, f: circulation

#1090 documents: refactoring action buttons
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail/document-detail.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail/document-detail.component.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/import-documents-route.ts
Labels: f: professional ui

#1091 aggregation: fix library filter facet
  projects/admin/src/app/api/library-api.service.ts
  projects/admin/src/app/service/bucket-name.service.ts
Labels: f: professional ui

#1092 translations: fix untranslated notif setting
  projects/admin/src/manual_translations.ts
Labels: translations
