Repository rero/rero-ils-ui, pull requests merged in 2024-06, with the labels that each got.

#1178 fix(fiction): makes the facet higher and open
  projects/admin/src/app/routes/documents-route.ts
  projects/public-search/src/app/routes/documents-route.service.ts
Labels: f: professional ui, f: public ui

#1179 fix(patron profile): multi-organisation selector
  projects/public-search/src/app/patron-profile/patron-profile-menu/patron-profile-menu.component.html
Labels: f: public ui, f: user management

#1180 chore: update ngx-formly to the version 6.3.2
  package-lock.json
  package.json
  projects/admin/src/app/record/editor/wrappers/identifiedby-value.component.ts
Labels: f: professional ui, f: editor

#1181 release: v17.0.1
  CHANGELOG.md
  package-lock.json
  package.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/de.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/fr.json
Labels: translations
