Repository rero/rero-ils-ui, pull requests merged in 2024-01, with the labels that each got.

#1096 ill requests: adapt facet label
  projects/admin/src/app/routes/ill-requests-route.ts
Labels: f: professional ui

#1095 patron: fix total pending requests number
  projects/admin/src/app/circulation/patron/pending/pending-item/pending-item.component.html
Labels: f: professional ui, f: circulation, f: user management

#1108 dependencies: update
  package-lock.json
  package.json
  projects/admin/src/app/api/library-api.service.spec.ts
Labels: f: professional ui

#1094 chore: implement new handle error service
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/circulation/services/patron-transaction.service.ts
  projects/admin/src/app/routes/import-documents-route.ts
  projects/admin/src/app/service/record.handle-error.service.ts
Labels: f: professional ui, f: circulation

#1099 feat(documents): hide related entities tab
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
Labels: f: professional ui
