Repository rero/rero-ils-ui, pull requests merged in 2024-04, with the labels that each got.

#1144 fix(inventory list): remove default lib filter
  projects/admin/src/app/menu/menu-definition/menu-app.ts
  projects/admin/src/app/routes/items-route.ts
  projects/admin/src/app/routes/loans-route.ts
  projects/admin/src/app/routes/patron-transaction-events-route.ts
Labels: f: professional ui

#1149 fix(document): language facet translation
  projects/public-search/src/app/service/bucket-name.service.ts
Labels: f: public ui

#1142 feat(circulation): add message on alert
  projects/admin/src/app/circulation/patron/cancel-request-button.component.ts
Labels: f: professional ui, f: circulation, f: user management

#1145 fix(ill): add filter parameter
  projects/admin/src/app/circulation/patron/ill-request/ill-request.component.ts
  projects/public-search/src/app/api/ill-request-api.service.ts
  projects/public-search/src/app/patron-profile/patron-profile-ill-requests/patron-profile-ill-requests.component.ts
Labels: f: professional ui, f: circulation, f: public ui, f: user management

#1146 feat(circulation): add informations message
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
  projects/admin/src/app/classes/items.ts
  projects/admin/src/app/record/brief-view/collection-brief-view.component.ts
  projects/public-search/src/app/collection-brief/collection-brief.component.html
Labels: f: professional ui, f: search, f: circulation, f: public ui, f: user management

#1151 feat(item): add fees on item detail view
  projects/admin/src/app/api/patron-transaction-api.service.ts
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.ts
  projects/admin/src/app/record/brief-view/patron-transaction-events-brief-view/patron-transaction-event-overdue.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.ts
  projects/admin/src/app/record/detail-view/item-detail-view/item-fees/item-fees.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-fees/item-fees.component.ts
Labels: f: professional ui, f: search, f: circulation, f: user management

#1152 chore(permissions): item and holdings
  projects/admin/src/app/routes/base-route.ts
  projects/admin/src/app/routes/holdings-route.ts
  projects/admin/src/app/routes/items-route.ts
Labels: f: professional ui

#1153 fix(fee): form options on add manual fee
  projects/admin/src/app/circulation/patron/patron-transactions/patron-fee/patron-fee.component.ts
Labels: f: professional ui, f: circulation, f: user management

#1154 fix(filter): add a new key for translation
  projects/admin/src/app/service/bucket-name.service.ts
Labels: f: professional ui

#1150 fix(editor): use the new process json schema
  package-lock.json
  package.json
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.ts
  projects/admin/src/app/record/formly/type/entity-typeahead/add-entity-local-form/add-entity-local-form.component.ts
  projects/public-search/src/app/patron-profile/patron-profile-personal-editor/patron-profile-personal-editor.component.ts
Labels: f: professional ui, f: editor, f: public ui, f: user management

#1140 files: add file collections editor in the admin view
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/files-collections/files-collections.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/files-collections/files-collections.component.scss
  projects/admin/src/app/record/detail-view/document-detail-view/files-collections/files-collections.component.spec.ts
  projects/admin/src/app/record/detail-view/document-detail-view/files-collections/files-collections.component.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/route-tool.service.ts
  projects/admin/src/app/service/resources-files.service.ts
  projects/admin/src/app/shared/primeng-import/primeng-import.module.ts
Labels: f: professional ui

#1158 fix: incorrect wording in item component
  projects/admin/src/app/circulation/item/item.component.html
Labels: f: professional ui, f: circulation

#1156 files: add preview feature
  projects/admin/src/app/service/resources-files.service.ts
  projects/public-holdings-items/src/index.html
  projects/shared/src/lib/component/documents/files/files.component.html
  projects/shared/src/lib/component/documents/files/files.component.scss
  projects/shared/src/lib/component/documents/files/files.component.ts
  projects/shared/src/lib/pipe/fa-icon-class.pipe.spec.ts
  projects/shared/src/lib/pipe/fa-icon-class.pipe.ts
  projects/shared/src/lib/shared.module.ts
  proxy.conf.json
  proxy/proxy.admin.conf.json
Labels: f: professional ui
