Repository rero/rero-ils-ui, pull requests merged in 2024-12, with the labels that each got.

#1224 primeng: fix migration components
  projects/admin/src/app/migration/deduplication/record/search/migration-search/migration-search.component.html
  projects/admin/src/app/migration/migration.module.ts
Labels: f: professional ui

#1225 admin: improve app menu
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/menu/menu-app/menu-app.component.html
  projects/admin/src/app/menu/menu-app/menu-app.component.scss
  projects/admin/src/app/menu/menu-dashboard/menu-dashboard.component.html
  projects/admin/src/app/menu/menu-dashboard/menu-dashboard.component.scss
  projects/admin/src/app/menu/menu-definition/menu-app.ts
  projects/admin/src/app/menu/menu-definition/menu-ids.ts
  projects/admin/src/app/menu/menu-display/menu-display.component.html
  projects/admin/src/app/menu/menu-user/menu-user.component.html
  projects/admin/src/app/scss/styles.scss
  projects/admin/src/app/widgets/frontpage/frontpage.component.html
Labels: f: professional ui

#1226 primeng: admin ill requests
  projects/admin/src/app/circulation/patron/ill-request/ill-request-item/ill-request-item.component.ts
  projects/admin/src/app/record/brief-view/ill-requests-brief-view/ill-requests-brief-view.component.html
  projects/admin/src/app/record/brief-view/ill-requests-brief-view/ill-requests-brief-view.component.ts
  projects/admin/src/app/record/detail-view/ill-request-detail-view/ill-request-detail-view.component.html
  projects/admin/src/app/record/detail-view/ill-request-detail-view/ill-request-detail-view.component.ts
  projects/admin/src/app/service/ill-requests.service.spec.ts
  projects/admin/src/app/service/ill-requests.service.ts
  projects/admin/src/app/utils/utils.ts
Labels: f: professional ui, f: search, f: circulation, f: user management

#1227 primeng: admin patrons
  projects/admin/src/app/record/brief-view/patrons-brief-view/patrons-brief-view.component.html
  projects/admin/src/app/record/brief-view/patrons-brief-view/patrons-brief-view.component.scss
  projects/admin/src/app/record/brief-view/patrons-brief-view/patrons-brief-view.component.ts
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.html
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.scss
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.ts
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-permissions/patron-permission/patron-permission.component.html
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-permissions/patron-permission/patron-permission.component.ts
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-permissions/patron-permissions.component.html
  projects/admin/src/app/record/operation-logs/operation-logs.component.html
  projects/admin/src/app/utils/roles.ts
Labels: f: professional ui, f: search, f: activity-logs

#1228 primeng: admin collections
  projects/admin/src/app/record/brief-view/collection-brief-view.component.ts
  projects/admin/src/app/record/detail-view/collection-detail-view/collection-detail-view.component.html
  projects/admin/src/app/record/detail-view/collection-detail-view/collection-items/collection-items.component.html
Labels: f: professional ui, f: search

#1229 primeng: admin loans
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/record/brief-view/loans-brief-view/loans-brief-view.component.html
  projects/admin/src/app/record/brief-view/loans-brief-view/loans-brief-view.component.scss
  projects/admin/src/app/record/brief-view/loans-brief-view/loans-brief-view.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log-loan/circulation-log-loan.component.html
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log-loan/circulation-log-loan.component.scss
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log-loan/circulation-log-loan.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log-notification/circulation-log-notification.component.html
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log-notification/circulation-log-notification.component.scss
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log-notification/circulation-log-notification.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.html
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.scss
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-logs-dialog.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.html
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.scss
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-stats/circulation-stats.component.html
  projects/admin/src/index.html
  projects/shared/src/lib/component/open-close-button.component.ts
Labels: f: professional ui, f: search, f: circulation, f: activity-logs
