Repository rero/rero-ils-ui, pull requests merged in 2024-07, with the labels that each got.

#1177 feat(circulation): automatic renewals
  projects/admin/src/app/classes/notification.ts
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log-loan/circulation-log-loan.component.html
  projects/admin/src/app/record/custom-editor/libraries/library-form.service.ts
  projects/admin/src/manual_translations.ts
Labels: translations, f: professional ui, f: editor, f: circulation, f: activity-logs

#1184 fix(detailed cipo): display automatic renewal
  projects/admin/src/app/record/detail-view/circ-policy-detail-view/circ-policy-detail-view.component.html
Labels: f: professional ui

#1186 acquisition editor: fix missing initial value in the account select
  projects/admin/src/app/acquisition/components/editor/widget/select-account-editor-widget/select-account-editor-widget.component.ts
Labels: f: professional ui, f: acquisitions

#1189 fix(circ): error when no item note
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/item/item.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
  projects/admin/src/assets/rero-ils-ui/admin/i18n/ar.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/de.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en_US.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/es.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/fr.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/it.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/nl.json
  projects/admin/src/manual_translations.ts
Labels: translations, f: professional ui, f: circulation, f: user management
