Repository rero/rero-ils-ui, pull requests merged in 2024-11, with the labels that each got.

#1214 chore: replace tag by badge
  projects/admin/src/app/circulation/patron/main/main.component.html
  projects/admin/src/app/circulation/patron/pending/pending-item/pending-item.component.html
Labels: f: professional ui, f: circulation, f: user management

#1215 chore(circulation): refactoring primeng
  projects/admin/src/app/circulation/checkin/checkin-action/checkin-action.component.html
  projects/admin/src/app/circulation/circulation.module.ts
  projects/admin/src/app/circulation/circulation.scss
  projects/admin/src/app/circulation/main-request/main-request.component.html
  projects/admin/src/app/circulation/main-request/main-request.component.ts
  projects/admin/src/app/circulation/main-request/requested-item/requested-item.component.html
  projects/admin/src/app/circulation/main-request/requested-items-list/requested-items-list.component.html
  projects/admin/src/app/circulation/patron/cancel-request-button.component.ts
  projects/admin/src/app/circulation/patron/card/card.component.html
  projects/admin/src/app/circulation/patron/card/card.component.scss
  projects/admin/src/app/circulation/patron/card/card.component.ts
  projects/admin/src/app/circulation/patron/history/history-log-library/history-log-library.component.html
  projects/admin/src/app/circulation/patron/history/history-log-library/history-log-library.component.spec.ts
  projects/admin/src/app/circulation/patron/history/history-log-library/history-log-library.component.ts
  projects/admin/src/app/circulation/patron/history/history-log/history-log.component.html
  projects/admin/src/app/circulation/patron/ill-request/ill-request-item/ill-request-item.component.html
  projects/admin/src/app/circulation/patron/loan/loan.component.html
  projects/admin/src/app/circulation/patron/main/main.component.html
  projects/admin/src/app/circulation/patron/main/main.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/overdue-transaction/overdue-transaction.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-fee/patron-fee.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-fee/patron-fee.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event-form/patron-transaction-event-form.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event-form/patron-transaction-event-form.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.ts
  projects/admin/src/app/circulation/patron/pending/pending-item/pending-item.component.html
  projects/admin/src/app/circulation/patron/pending/pending.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup-item/pickup-item.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup.component.html
  projects/admin/src/app/circulation/patron/profile/profile.component.html
  projects/admin/src/app/circulation/services/patron-transaction.service.ts
  projects/admin/src/app/utils/utils.ts
  projects/shared/src/lib/component/open-close-button.component.ts
Labels: f: professional ui, f: circulation, f: user management

#1218 migration: add reject action
  projects/admin/src/app/migration/deduplication/record/brief-view/migration-data-deduplication/migration-data-deduplication.component.html
  projects/admin/src/app/migration/deduplication/record/brief-view/migration-data-deduplication/migration-data-deduplication.component.ts
  projects/admin/src/app/migration/migration.module.ts
Labels: f: professional ui

#1217 fix(migrations): fix wording and translations for sorting
  projects/admin/src/app/migration/migration-routing.module.ts
  projects/admin/src/assets/rero-ils-ui/admin/i18n/ar.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/de.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en_US.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/es.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/fr.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/it.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/nl.json
Labels: translations, f: professional ui

#1219 fix(deduplication): add missing translations
  projects/admin/src/app/migration/deduplication/record/brief-view/migration-data-deduplication/migration-data-deduplication.component.ts
  projects/admin/src/assets/rero-ils-ui/admin/i18n/ar.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/de.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/en_US.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/es.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/fr.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/it.json
  projects/admin/src/assets/rero-ils-ui/admin/i18n/nl.json
Labels: translations, f: professional ui
