Repository rero/rero-ils-ui, pull requests merged in 2024-05, with the labels that each got.

#1162 files: optimizes the files loading time.
  package-lock.json
  package.json
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail/document-detail.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/files-collections/files-collections.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/files-collections/files-collections.component.scss
  projects/admin/src/app/record/detail-view/document-detail-view/files-collections/files-collections.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/files-collections/upload-files/upload-files.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/files-collections/upload-files/upload-files.component.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/service/record-permission.service.ts
  projects/admin/src/app/service/resources-files.service.ts
  projects/shared/src/lib/component/documents/files/files.component.html
  projects/shared/src/lib/component/documents/files/files.component.ts
Labels: f: professional ui

#1165 chore(item): delete legacy fields
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
Labels: f: professional ui

#1166 fix(editor): entity typeahead clear value
  package-lock.json
  projects/admin/src/app/record/formly/type/entity-typeahead/entity-typeahead.component.ts
Labels: f: professional ui, f: editor

#1167 aggregation: change for isFiction
  projects/admin/src/app/record/detail-view/document-detail-view/document-description/document-description.component.html
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/service/bucket-name.service.ts
  projects/admin/src/manual_translations.ts
  projects/public-search/src/app/routes/documents-route.service.ts
  projects/public-search/src/app/service/bucket-name.service.ts
Labels: translations, f: professional ui, f: public ui

#1176 fix(patron): ill request count
  projects/public-search/src/app/patron-profile/patron-profile.component.ts
Labels: f: public ui, f: user management

#1173 fix(editor): item switch location
  projects/admin/src/app/components/items/switch-location/item-switch-location/item-switch-location.component.html
Labels: f: professional ui
