Repository rero/rero-ils-ui, pull requests merged in 2025-10, with the labels that each got.

#1357 fix(translate): add logic to translate messages
  projects/public-search/src/index.html
  projects/search-bar/src/app/app.module.ts
  projects/search-bar/src/index.html
  projects/shared/src/lib/component/remote-search/remote-search.component.ts
Labels: f: search

#1361 fix(files): upload, label change
  projects/admin/src/app/record/detail-view/document-detail-view/files-collections/upload-files/upload-files.component.ts
  projects/admin/src/app/service/resources-files.service.ts
Labels: f: professional ui

#1365 fix(circulation): update the name of the history route
  projects/admin/src/app/circulation/circulation-routing.module.ts
  projects/admin/src/app/circulation/patron/main/main.component.ts
Labels: f: professional ui, f: circulation, f: user management

#1368 chore(record): improve messages translation
  projects/admin/src/app/service/record-permission.service.spec.ts
  projects/admin/src/app/service/record-permission.service.ts
Labels: f: professional ui
