Repository rero/rero-ils-ui, pull requests merged in 2025-05, with the labels that each got.

#1278 fix(acquisition): dynamic routes on child
  projects/admin/src/app/acquisition/acquisition-routing.module.ts
  projects/admin/src/app/acquisition/acquisition.module.ts
  projects/admin/src/app/acquisition/components/acquisition-main/acquisition-main.component.ts
  projects/admin/src/app/record/editor/formly/primeng/entity-autocomplete/entity-autocomplete.component.ts
Labels: f: professional ui, f: editor, f: acquisitions

#1279 fix(acquisition): disabled button on receipt
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-detail-view.component.html
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-detail-view.component.ts
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-lines/order-lines.component.html
  projects/admin/src/app/acquisition/components/receipt/receipt-list/receipt-list.component.ts
Labels: f: professional ui, f: acquisitions

#1281 fix(acquisition): action tab on click
  projects/admin/src/app/circulation/patron/main/main.component.html
Labels: f: professional ui, f: circulation, f: user management

#1283 feat: display validation errors on submit
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.ts
  projects/public-search/src/app/patron-profile/patron-profile-personal-editor/patron-profile-personal-editor.component.ts
Labels: f: professional ui, f: editor, f: public ui, f: user management

#1287 fix(circulation): statistics
  projects/admin/src/app/circulation/patron/card/card.component.ts
  projects/admin/src/app/circulation/patron/history/history-log/history-log.component.html
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
  projects/admin/src/app/circulation/patron/main/main.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-fee/patron-fee.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction-event-form/patron-transaction-event-form.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.ts
  projects/admin/src/app/circulation/patron/pending/pending.component.ts
  projects/admin/src/app/circulation/patron/pickup/pickup.component.ts
  projects/admin/src/app/circulation/patron/service/circulation-stats.service.spec.ts
  projects/admin/src/app/circulation/patron/service/circulation-stats.service.ts
  projects/admin/src/app/circulation/services/circulation.service.spec.ts
  projects/admin/src/app/circulation/services/circulation.service.ts
  projects/admin/src/app/record/detail-view/item-detail-view/item-transaction/item-transaction.component.ts
  projects/admin/src/app/service/patron.service.spec.ts
  projects/admin/src/app/service/patron.service.ts
Labels: f: professional ui, f: circulation, f: user management

#1289 fix: keep history updated after any action in the fees view
  projects/admin/src/app/circulation/patron/main/main.component.html
  projects/admin/src/app/circulation/patron/main/main.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/overdue-transaction-detail/overdue-transaction-detail.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.ts
  projects/admin/src/app/circulation/services/patron-transaction.service.spec.ts
  projects/admin/src/app/circulation/services/patron-transaction.service.ts
  projects/admin/src/app/service/record.handle-error.service.ts
Labels: f: professional ui, f: circulation, f: user management

#1290 fix(pro ui): remove footer
  projects/admin/src/app/app.component.html
Labels: f: professional ui
