Repository rero/rero-ils-ui, pull requests merged in 2025-02, with the labels that each got.

#1247 primeng: acquisitions accounts
  projects/admin/src/app/acquisition/acquisition-routing.module.ts
  projects/admin/src/app/acquisition/acquisition.module.ts
  projects/admin/src/app/acquisition/acquisition.scss
  projects/admin/src/app/acquisition/api/acq-account-api.service.ts
  projects/admin/src/app/acquisition/classes/account.ts
  projects/admin/src/app/acquisition/components/account/account-brief-view/account-brief-view.component.html
  projects/admin/src/app/acquisition/components/account/account-brief-view/account-brief-view.component.ts
  projects/admin/src/app/acquisition/components/account/account-detail-view/account-detail-view.component.html
  projects/admin/src/app/acquisition/components/account/account-detail-view/account-detail-view.component.scss
  projects/admin/src/app/acquisition/components/account/account-detail-view/account-detail-view.component.ts
  projects/admin/src/app/acquisition/components/account/account-list/account-list.component.html
  projects/admin/src/app/acquisition/components/account/account-list/account-list.component.ts
  projects/admin/src/app/acquisition/components/account/account-transfer/account-transfer.component.html
  projects/admin/src/app/acquisition/components/account/account-transfer/account-transfer.component.ts
  projects/admin/src/app/acquisition/components/acquisition-main/acquisition-main.component.ts
  projects/admin/src/app/acquisition/formly/type/select-account/select-account.component.ts
  projects/admin/src/app/scss/styles.scss
  projects/admin/src/app/shared/primeng-import/primeng-import.module.ts
Labels: f: professional ui, f: acquisitions

#1251 primeng: fix PO issue
  projects/admin/src/app/acquisition/api/acq-order-api.service.ts
  projects/admin/src/app/acquisition/components/account/account-detail-view/account-detail-view.component.html
  projects/admin/src/app/acquisition/components/account/account-list/account-list.component.ts
  projects/admin/src/app/acquisition/components/order/order-brief-view/order-brief-view.component.html
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-detail-view.component.html
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-detail-view.component.ts
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-line/order-line.component.html
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-line/order-line.component.ts
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-lines/order-lines.component.html
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-lines/order-lines.component.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-list/receipt-list.component.html
  projects/admin/src/app/acquisition/components/receipt/receipt-list/receipt-list.component.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-summary/receipt-summary.component.html
  projects/admin/src/app/acquisition/components/receipt/receipt-summary/receipt-summary.component.ts
  projects/admin/src/app/acquisition/routes/order-lines-route.ts
  projects/admin/src/app/acquisition/routes/receipts-route.ts
  projects/admin/src/app/app.component.html
  projects/admin/src/app/circulation/patron/change-password-form/change-password-form.component.html
  projects/admin/src/app/menu/menu-definition/menu-user.ts
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/entities-detail-view/remote/entities-remote-detail-view.component.html
  projects/admin/src/app/record/detail-view/library-detail-view/library-detail-view.component.html
  projects/admin/src/app/record/detail-view/template-detail-view/template-detail-view.component.html
  projects/admin/src/app/record/search-view/patron-transaction-event-search-view/payments-data/payments-data.component.html
  projects/public-search/src/app/patron-profile/patron-profile-loans/patron-profile-loans.component.html
  projects/shared/src/lib/component/remote-search/remote-search.component.html
  projects/shared/src/lib/component/remote-search/remote-search.component.ts
Labels: f: professional ui, f: circulation, f: public ui, f: user management, f: acquisitions

#1250 chore: improvements and fixes
  package-lock.json
  projects/admin/src/app/circulation/items-list/items-list.component.html
  projects/admin/src/app/circulation/main-request/requested-items-list/requested-items-list.component.html
  projects/admin/src/app/circulation/patron/loan/loan.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup.component.html
  projects/admin/src/app/record/custom-editor/libraries/exception-dates-edit/exception-dates-edit.component.html
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.html
  projects/admin/src/app/record/custom-editor/user-id-editor/user-id-editor.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/item-request/item-request.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/item-request/item-request.component.ts
  projects/admin/src/app/record/detail-view/entities-detail-view/local/local-topic-detail-view/local-topic-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-type-detail-view/item-type-detail-view.component.html
  projects/admin/src/app/record/editor/wrappers/user-id.component.ts
  projects/search-bar/src/index.html
Labels: f: professional ui, f: editor, f: circulation, f: user management

#1253 fix: primeng PO tests
  package-lock.json
  package.json
  projects/admin/src/app/acquisition/components/editor/widget/select-account-editor-widget/select-account-editor-widget.component.ts
  projects/admin/src/app/circulation/main-request/main-request.component.html
  projects/admin/src/app/classes/library.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holdings/holdings.component.html
  projects/admin/src/app/service/record-permission.service.ts
  projects/public-search/src/app/document-detail/document-detail-view/document-detail-view.component.ts
  projects/shared/src/lib/component/documents/document-description/other-edition/other-edition.component.html
Labels: f: professional ui, f: circulation, f: public ui, f: acquisitions

#1254 chore: improvements and fixes
  projects/admin/src/app/acquisition/pipes/note-badge-color.pipe.ts
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/patron/ill-request/ill-request-item/ill-request-item.component.ts
  projects/admin/src/app/components/items/switch-location/item-switch-location-standalone/item-switch-location-standalone.component.html
  projects/admin/src/app/components/items/switch-location/item-switch-location/item-switch-location.component.html
  projects/admin/src/app/components/items/switch-location/item-switch-location/item-switch-location.component.ts
  projects/admin/src/app/directives/tab-order.directive.ts
  projects/admin/src/app/record/brief-view/issues-brief-view/issues-brief-view.component.html
  projects/admin/src/app/record/brief-view/loans-brief-view/loans-brief-view.component.html
  projects/admin/src/app/record/brief-view/patrons-brief-view/patrons-brief-view.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log-notification/circulation-log-notification.component.html
  projects/admin/src/app/record/custom-editor/holding-editor/holding-editor.component.html
  projects/admin/src/app/record/custom-editor/holding-editor/holding-editor.component.ts
  projects/admin/src/app/record/detail-view/circ-policy-detail-view/circ-policy-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding-organisation/holding-organisation.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-item-temporary-item-type/holding-item-temporary-item-type.component.ts
  projects/admin/src/app/record/detail-view/document-detail-view/holdings/holdings.component.html
  projects/admin/src/app/record/detail-view/entities-detail-view/local/local-organisation-detail-view/local-organisation-detail-view.component.html
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/received-issue/received-issue.component.html
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/received-issue/received-issue.component.ts
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/admin/src/app/record/detail-view/location-detail-view/location-detail-view.component.html
  projects/admin/src/app/record/detail-view/organisation-detail-view/organisation-detail-view.component.html
  projects/admin/src/app/record/detail-view/organisation-detail-view/organisation-detail-view.component.ts
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.ts
  projects/admin/src/app/record/detail-view/record-masked/record-masked.component.spec.ts
  projects/admin/src/app/record/detail-view/statistics-cfg-detail-view/statistics-cfg-detail-view.component.html
  projects/admin/src/app/record/editor/wrappers/identifiedby-value.component.ts
  projects/admin/src/app/record/editor/wrappers/user-id.component.ts
  projects/admin/src/app/routes/organisations-route.ts
  projects/admin/src/app/routes/route.service.ts
  projects/admin/src/app/service/holdings.service.ts
Labels: f: professional ui, f: editor, f: search, f: circulation, f: user management, f: acquisitions, f: activity-logs
