Repository rero/rero-ils-ui, pull requests merged in 2025-06, with the labels that each got.

#1299 fix(requests): add filters for the pickup locations
  projects/admin/src/app/record/detail-view/document-detail-view/item-request/item-request.component.ts
Labels: f: professional ui

#1297 fix: update library code in menus during swich
  projects/admin/src/app/menu/service/menu.service.spec.ts
  projects/admin/src/app/menu/service/menu.service.ts
Labels: f: professional ui

#1296 refactor(requests): expand items by default
  projects/admin/src/app/circulation/main-request/requested-items-list/requested-items-list.component.html
  projects/admin/src/app/circulation/main-request/requested-items-list/requested-items-list.component.ts
Labels: f: professional ui, f: circulation

#1311 fix(babeltheque): display "more info" after loading the ng app
  projects/public-holdings-items/src/index.html
  projects/public-search/src/app/document-detail/document-detail-view/document-detail-view.component.html
Labels: f: public ui

#1310 feat(acquistions): add receipt editor
  projects/admin/src/app/acquisition/components/receipt/receipt-form/order-receipt-form.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-form/order-receipt-view.component.html
  projects/admin/src/app/acquisition/components/receipt/receipt-form/order-receipt-view.component.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-list/receipt-list.component.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-summary/receipt-summary.component.html
  projects/admin/src/app/acquisition/components/receipt/receipt-summary/receipt-summary.component.ts
  projects/admin/src/app/acquisition/formly/type/repeat-section.type.ts
  projects/admin/src/app/acquisition/routes/guards/can-order-receipt.guard.spec.ts
  projects/admin/src/app/acquisition/routes/guards/can-order-receipt.guard.ts
  projects/admin/src/app/acquisition/utils/permissions.ts
Labels: f: professional ui, f: acquisitions

#1307 style(acquisition): account select menu
  projects/admin/src/app/acquisition/components/editor/widget/select-account-editor-widget/select-account-editor-widget.component.html
Labels: f: professional ui, f: acquisitions

#1302 fix(circulation): fix highlight loans that are late
  projects/admin/src/app/circulation/item/item.component.ts
Labels: f: professional ui, f: circulation

#1300 fix: resource delete message
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-header/holding-header.component.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/holdings-route.ts
  projects/admin/src/app/routes/items-route.ts
Labels: f: professional ui

#1312 fix(circ): prevent partially hidden type select when adding fees
  projects/admin/src/app/circulation/patron/patron-transactions/patron-fee/patron-fee.component.ts
Labels: f: professional ui, f: circulation, f: user management

#1314 fix: advanced search type disabled if only one type
  projects/admin/src/app/record/editor/type/repeat-section.type.ts
  projects/admin/src/app/record/search-view/document-advanced-search-form/document-advanced-search-form.component.ts
Labels: f: professional ui, f: editor

#1317 feat(acquisition): enhance the receipt editor
  projects/admin/src/app/acquisition/acquisition.module.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-form/order-receipt-form.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-form/order-receipt-view.component.html
  projects/admin/src/app/acquisition/components/receipt/receipt-form/order-receipt.ts
  projects/admin/src/app/acquisition/components/receipt/receipt-line/receipt-line.component.html
  projects/admin/src/app/acquisition/components/receipt/receipt-line/receipt-line.component.ts
  projects/admin/src/app/acquisition/formly/type/field-document-brief-view.type.ts
  projects/admin/src/app/acquisition/formly/type/field-order-line.type.ts
  projects/admin/src/app/acquisition/formly/type/field-ref.type.ts
  projects/admin/src/app/acquisition/formly/type/receipt-lines.type.ts
  projects/admin/src/app/acquisition/formly/type/repeat-section.type.ts
  projects/admin/src/app/acquisition/routes/receipt-lines-route.ts
Labels: f: professional ui, f: acquisitions

#1319 style(editor): enhance entity autocomplete layout
  projects/admin/src/app/record/editor/formly/primeng/entity-autocomplete/entity-autocomplete.component.ts
Labels: f: professional ui, f: editor

#1318 fix(circulation): update fees tab data
  projects/admin/src/app/circulation/item/item.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.ts
  projects/admin/src/app/circulation/patron/main/main.component.ts
  projects/admin/src/app/circulation/patron/service/circulation-stats.service.spec.ts
  projects/admin/src/app/circulation/patron/service/circulation-stats.service.ts
  projects/admin/src/app/service/items.service.ts
Labels: f: professional ui, f: circulation, f: user management
