Repository rero/rero-ils-ui, pull requests merged in 2025-08, with the labels that each got.

#1322 chore: remove ngVar directive
  projects/admin/src/app/acquisition/components/account/account-list/account-list.component.html
  projects/admin/src/app/acquisition/components/order/order-brief-view/order-brief-view.component.html
  projects/admin/src/app/circulation/patron/history/history-log/history-log.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/overdue-transaction/overdue-transaction.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/files-collections/upload-files/upload-files.component.html
  projects/admin/src/app/record/detail-view/entities-detail-view/local/entities-local-detail-view.component.html
  projects/admin/src/app/record/detail-view/entities-detail-view/remote/entities-remote-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/public-search/src/app/patron-profile/patron-profile-histories/patron-profile-history/patron-profile-history.component.html
  projects/shared/src/lib/component/documents/files/files.component.html
Labels: f: professional ui, f: circulation, f: public ui, f: user management, f: acquisitions

#1334 feat(circulation): add number of requests limits
  projects/admin/src/app/record/detail-view/document-detail-view/item-request/item-request.component.ts
  projects/admin/src/app/record/detail-view/patron-types-detail-view/patron-types-detail-view.component.html
  projects/public-search/src/app/document-detail/request/request.component.html
  projects/public-search/src/app/document-detail/request/request.component.spec.ts
Labels: f: professional ui, f: public ui

#1333 feat: display barcode on public patron profile
  package-lock.json
  package.json
  projects/public-search/src/app/patron-profile/patron-profile.component.html
  projects/public-search/src/app/patron-profile/patron-profile.component.ts
Labels: f: public ui, f: user management
