Repository rero/rero-ils-ui, pull requests merged in 2025-04, with the labels that each got.

#1264 chore(theme): change color for header and menu backgrounds
  projects/admin/src/app/app.component.html
  projects/admin/src/app/menu/menu-dashboard/menu-dashboard.component.html
Labels: f: professional ui

#1266 chore: layout enhancement
  projects/admin/src/app/acquisition/components/account/account-detail-view/account-detail-view.component.html
  projects/admin/src/app/acquisition/components/order/order-detail-view/order-detail-view.component.html
  projects/admin/src/app/acquisition/components/receipt/receipt-summary/receipt-summary.component.html
  projects/admin/src/app/app.component.html
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/patron/card/card.component.scss
  projects/admin/src/app/circulation/patron/change-password-form/change-password-form.component.html
  projects/admin/src/app/circulation/patron/change-password-form/change-password-form.component.ts
  projects/admin/src/app/circulation/patron/ill-request/ill-request-item/ill-request-item.component.html
  projects/admin/src/app/circulation/patron/loan/circulation-settings/circulation-settings.component.ts
  projects/admin/src/app/circulation/patron/main/main.component.ts
  projects/admin/src/app/circulation/patron/patron-transactions/overdue-transaction/overdue-transaction.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.ts
  projects/admin/src/app/circulation/patron/profile/profile.component.ts
  projects/admin/src/app/components/items/switch-location/item-switch-location/item-switch-location.component.html
  projects/admin/src/app/menu/menu-dashboard/menu-dashboard.component.html
  projects/admin/src/app/record/custom-editor/holding-editor/holding-editor.component.html
  projects/admin/src/app/record/custom-editor/holding-editor/holding-editor.component.scss
  projects/admin/src/app/record/custom-editor/holding-editor/holding-editor.component.ts
  projects/admin/src/app/record/detail-view/circ-policy-detail-view/circ-policy-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/default-holding-item/default-holding-item.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-content/holding-content.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/holding/serial-holding-item/serial-holding-item.component.html
  projects/admin/src/app/record/detail-view/entities-detail-view/local/entities-local-detail-view.component.html
  projects/admin/src/app/record/detail-view/entities-detail-view/remote/entities-remote-detail-view.component.html
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/received-issue/received-issue.component.html
  projects/admin/src/app/record/detail-view/holding-detail-view/serial-holding-detail-view/serial-holding-detail-view.component.html
  projects/admin/src/app/record/detail-view/ill-request-detail-view/ill-request-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-type-detail-view/item-type-detail-view.component.html
  projects/admin/src/app/record/detail-view/library-detail-view/day-opening-hours/day-opening-hours.component.ts
  projects/admin/src/app/record/detail-view/library-detail-view/exception-date/exception-date.component.html
  projects/admin/src/app/record/detail-view/library-detail-view/library-detail-view.component.html
  projects/admin/src/app/record/detail-view/library-detail-view/location/location.component.html
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.html
  projects/admin/src/app/record/detail-view/patron-types-detail-view/patron-types-detail-view.component.html
  projects/admin/src/app/record/editor/formly/primeng/entity-autocomplete/entity-autocomplete.component.ts
  projects/admin/src/app/record/editor/formly/primeng/remote-autocomplete/remote/mef-remote.service.ts
  projects/admin/src/app/record/search-view/document-advanced-search-form/document-advanced-search-form.component.html
  projects/admin/src/app/record/search-view/document-advanced-search-form/document-advanced-search-form.component.ts
  projects/admin/src/app/record/search-view/document-advanced-search.component.ts
  projects/admin/src/app/widgets/frontpage/frontpage.component.html
  projects/public-holdings-items/src/index.html
  projects/public-search/src/app/document-detail/holdings/holdings.component.html
  projects/public-search/src/app/document-detail/holdings/holdings.component.ts
  projects/public-search/src/app/patron-profile/patron-profile-ill-requests/patron-profile-ill-request/patron-profile-ill-request.component.html
  projects/shared/src/lib/class/user.ts
  projects/shared/src/scss/safelist.txt
Labels: f: professional ui, f: editor, f: circulation, f: public ui, f: user management, f: acquisitions

#1268 fix(theme): colors
  projects/admin/src/app/circulation/patron/loan/circulation-settings/circulation-settings.component.ts
  projects/admin/src/app/circulation/patron/loan/loan.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
  projects/admin/src/app/migration/deduplication/record/brief-view/migration-data-deduplication/migration-data-deduplication.component.html
  projects/admin/src/app/record/brief-view/loans-brief-view/loans-brief-view.component.ts
  projects/admin/src/app/record/brief-view/patron-transaction-events-brief-view/patron-transaction-events-brief-view.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.html
  projects/admin/src/app/record/detail-view/entities-detail-view/remote/entities-remote-detail-view.component.html
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.ts
  projects/admin/src/app/scss/styles.scss
  projects/admin/src/app/utils/roles.ts
  projects/admin/src/app/utils/utils.ts
  projects/public-search/src/app/patron-profile/patron-profile-loans/patron-profile-loan/patron-profile-loan.component.html
  projects/public-search/src/app/pipe/loan-status-badge.pipe.ts
  projects/shared/src/lib/component/entities/entity-brief-view/entity-brief-view.component.ts
Labels: f: professional ui, f: search, f: circulation, f: public ui, f: user management, f: activity-logs

#1269 chore: update packages
  package-lock.json
  package.json
  projects/admin/src/app/acquisition/components/receipt/receipt-form/order-receipt-form.ts
  projects/admin/src/app/acquisition/formly/extension.ts
  projects/admin/src/app/acquisition/routes/accounts-route.ts
  projects/admin/src/app/acquisition/routes/budgets-route.ts
  projects/admin/src/app/acquisition/routes/order-lines-route.ts
  projects/admin/src/app/acquisition/routes/orders-route.ts
  projects/admin/src/app/acquisition/routes/receipts-route.ts
  projects/admin/src/app/acquisition/routes/vendors-route.ts
  projects/admin/src/app/circulation/checkin/checkin.component.ts
  projects/admin/src/app/circulation/main-request/main-request.component.ts
  projects/admin/src/app/migration/migration-routing.module.ts
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.ts
  projects/admin/src/app/record/editor/wrappers/identifiedby-value.component.ts
  projects/admin/src/app/record/search-view/document-advanced-search-form/advanced-search.service.ts
  projects/admin/src/app/routes/base-route.ts
  projects/admin/src/app/routes/circulation-policies-route.ts
  projects/admin/src/app/routes/collections-route.ts
  projects/admin/src/app/routes/documents-route.ts
  projects/admin/src/app/routes/entities-local-route.ts
  projects/admin/src/app/routes/entities-remote-route.ts
  projects/admin/src/app/routes/entities-route.ts
  projects/admin/src/app/routes/item-types-route.ts
  projects/admin/src/app/routes/items-route.ts
  projects/admin/src/app/routes/libraries-route.ts
  projects/admin/src/app/routes/loans-route.ts
  projects/admin/src/app/routes/locations-route.ts
  projects/admin/src/app/routes/patron-transaction-events-route.ts
  projects/admin/src/app/routes/patron-types-route.ts
  projects/admin/src/app/routes/patrons-route.ts
  projects/admin/src/app/routes/statistics-cfg-route.ts
  projects/admin/src/app/routes/templates-route.ts
  projects/admin/src/app/service/bucket-name.service.ts
  projects/admin/src/manual_translations.ts
  projects/public-search/src/app/document-detail/holdings/holdings.component.ts
  projects/public-search/src/app/document-detail/holdings/items/items.component.ts
  projects/public-search/src/app/error/error-page.component.ts
  projects/public-search/src/app/manual_translations.ts
  projects/public-search/src/app/patron-profile/patron-profile-fees/patron-profile-fees.component.ts
  projects/public-search/src/app/patron-profile/patron-profile-histories/patron-profile-histories.component.ts
  projects/public-search/src/app/patron-profile/patron-profile-ill-requests/patron-profile-ill-requests.component.ts
  projects/public-search/src/app/patron-profile/patron-profile-loans/patron-profile-loans.component.ts
  projects/public-search/src/app/patron-profile/patron-profile-password/patron-profile-password.component.ts
  projects/public-search/src/app/patron-profile/patron-profile-personal-editor/patron-profile-personal-editor.component.ts
  projects/public-search/src/app/patron-profile/patron-profile-requests/patron-profile-requests.component.ts
  projects/public-search/src/app/routes/collections-route.service.ts
  projects/public-search/src/app/routes/documents-route.service.ts
  projects/public-search/src/manual_translation.ts
  projects/shared/package-lock.json
  projects/shared/package.json
  projects/shared/src/lib/class/item-status.ts
  projects/shared/src/lib/component/operation-logs/operation-logs.component.ts
Labels: translations, f: professional ui, f: editor, f: circulation, f: public ui, f: user management, f: acquisitions, f: activity-logs

#1267 chore: change deprecated elements
  projects/admin/src/app/acquisition/acquisition.module.ts
  projects/admin/src/app/app.module.ts
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction-history/patron-transaction-history.component.html
  projects/public-holdings-items/src/app/app.module.ts
  projects/public-patron-profile/src/app/app.module.ts
  projects/public-search/src/app/app.module.ts
  projects/search-bar/src/app/app.module.ts
Labels: f: professional ui, f: search, f: circulation, f: public ui, f: user management, f: acquisitions

#1270 chore(circulation): fix and enhancement layout
  projects/admin/src/app/circulation/items-list/items-list.component.html
  projects/admin/src/app/circulation/patron/history/history-log/history-log.component.html
  projects/admin/src/app/circulation/patron/history/history.component.html
  projects/admin/src/app/circulation/patron/ill-request/ill-request-item/ill-request-item.component.html
  projects/admin/src/app/circulation/patron/ill-request/ill-request.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction-history/patron-transaction-history.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
  projects/admin/src/app/circulation/patron/pending/pending.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup.component.html
Labels: f: professional ui, f: circulation, f: user management

#1271 chore: adjust layout
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/circulation/main-request/requested-items-list/requested-items-list.component.html
  projects/admin/src/app/circulation/patron/history/history.component.html
  projects/admin/src/app/circulation/patron/ill-request/ill-request.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transaction/patron-transaction.component.html
  projects/admin/src/app/circulation/patron/patron-transactions/patron-transactions.component.html
  projects/admin/src/app/circulation/patron/pending/pending.component.html
  projects/admin/src/app/circulation/patron/pickup/pickup.component.html
  projects/admin/src/app/record/brief-view/circ-policies-brief-view.component.ts
  projects/admin/src/app/record/brief-view/ill-requests-brief-view/ill-requests-brief-view.component.html
  projects/admin/src/app/record/brief-view/statistics-cfg-brief-view-component.ts
  projects/admin/src/app/record/brief-view/templates-brief-view.component.ts
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.html
  projects/admin/src/app/record/circulation-logs/circulation-logs.component.html
  projects/admin/src/app/record/detail-view/collection-detail-view/collection-detail-view.component.html
  projects/admin/src/app/record/detail-view/document-detail-view/document-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-detail-view.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-fees/item-fees.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-transaction/item-transaction.component.html
  projects/admin/src/app/record/detail-view/item-detail-view/item-transactions/item-transactions.component.html
  projects/admin/src/app/record/detail-view/patron-detail-view/patron-detail-view.component.html
  projects/shared/src/lib/component/core/brief-view/brief-view.component.html
Labels: f: professional ui, f: search, f: circulation, f: user management, f: activity-logs

#1273 chore(theme): move tag link color to ng-core
  projects/admin/src/app/scss/styles.scss
Labels: f: professional ui

#1276 fix(cipo): editor addon wrap display
  projects/admin/src/app/routes/circulation-policies-route.ts
  projects/admin/src/manual_translations.ts
Labels: translations, f: professional ui
