Repository rero/rero-ils-ui, pull requests merged in 2025-07, with the labels that each got.

#1328 style(debug): harmonise debug button colour and margins
  projects/admin/src/app/circulation/item/item.component.html
  projects/admin/src/app/record/brief-view/loans-brief-view/loans-brief-view.component.html
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.html
Labels: f: professional ui, f: search, f: circulation, f: activity-logs

#1326 fix: rename temporary circulation category
  projects/admin/src/app/record/detail-view/document-detail-view/holding/holding-item-temporary-item-type/holding-item-temporary-item-type.component.ts
Labels: f: professional ui

#1321 fix: fix bad key for local entity genre-form
  projects/admin/src/app/record/editor/formly/primeng/entity-autocomplete/add-entity-local-form/add-entity-local-form.component.ts
  projects/admin/src/app/record/editor/formly/primeng/entity-autocomplete/entity-autocomplete.component.ts
Labels: f: professional ui, f: editor

#1330 fix: missing notification info in circulation history
  projects/admin/src/app/record/circulation-logs/circulation-log/circulation-log.component.html
Labels: f: professional ui, f: circulation, f: activity-logs

#1331 fix(item): request list pickup location
  projects/admin/src/app/record/detail-view/item-detail-view/item-transactions/item-transactions.component.html
Labels: f: professional ui

#1338 fix(circulation): patron message
  projects/admin/src/app/circulation/patron/card/card.component.html
  projects/admin/src/app/circulation/patron/service/circulation-stats.service.ts
Labels: f: professional ui, f: circulation, f: user management

#1340 fix(circulation): wrong request disappears when deleted
  projects/admin/src/app/circulation/patron/pending/pending.component.html
Labels: f: professional ui, f: circulation, f: user management

#1339 fix(menu): open signout link in a new tab
  projects/admin/src/app/menu/menu-definition/menu-user.ts
  projects/admin/src/app/menu/menu-user/menu-user.component.html
Labels: f: professional ui

#1345 fix(editor): new syntax for search field
  projects/admin/src/app/migration/deduplication/record/search/migration-search/migration-search.component.html
Labels: f: professional ui
